{% extends "base/base_site.html" %}

<title>SAMSON Project Management and Comunication - SPMC | {% block title %} List of companies {% endblock %}</title>


{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price container-fluid">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2><i class="fa fa-gear"></i> <strong>Database of</strong> Cost Code</h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" align="right">
                <a class="btn btn-info" href="{%  url 'company:cost_code_create' user.userprofile.companies.id %}">Create Cost Code</a></li>
                </a>
            </div>
        </div>
        <!-- End Top Title-->

        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 class="green"><strong class="green-dark">List of cost Code</strong> | {{ user.userprofile.companies.name }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Cost code</th>
                                    <th>Unit</th>
                                    <th>Code labor</th>
                                    <th>Code Material</th>

                                    <th>Production MDS</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if CostCodeFieldList %}
                                    {% for cost_code in CostCodeFieldList %}
                                        <tr>
                                            <th scope="row">{{ cost_code.category_cost_codes }}</th>
                                            <th> <h6 class="green">{{ cost_code.name }}</h6></th>
                                            <td>{{ cost_code.unit }}</td>

                                            <td>{{ cost_code.code_labor }}</td>
                                            <td>{{ cost_code.code_material }}</td>

                                            <td>{{ cost_code.production }}</td>

                                            {#                                            <td>{{ cost_code.is_active }}</td>#}
                                            <td align="center">
                                                <a href="{% url 'company:cost_code_update' user.userprofile.companies.id cost_code.id %}" class="btn .btn-transparent btn-xs"><i class="fa fa-pencil fa-lg"></i> </a>
                                                {%  if  user.is_staff and user.userprofile.role is 1 %}
                                                    <a href="{% url 'company:cost_code_delete' user.userprofile.companies.id cost_code.id %}" class="btn .btn-transparent btn-xs"><i class="fa fa-trash-o fa-lg"></i> </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                {% else %}
                                    <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

{% endblock javascripts %}
