{% extends "base/base_site.html" %}
<title>SAMSON Project Management and Comunication - SPMC | {% block title %} List of General Contractor {% endblock %}</title>

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">

        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2><i class="fa fa-gear"></i> <strong>General Contractors module</strong></h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right" align="right">
                <a class="btn btn-info" href="{%  url 'general_contractor:gc_create' user.userprofile.companies.id %}">
                    Create
                </a>            </div>
        </div>
        <!-- End Top Title-->

        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3 align="center" class="green">List of General Contractor | <strong class="green-dark">{{ user.userprofile.companies.name }}</strong></h3>


                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table style="border-bottom-right-radius: unset" id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>GC Name</th>
                                    <th>CEO</th>
                                    <th>President</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    {#                                    <th>Status</th>#}
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if GeneralContractorList %}
                                    {% for general_contractor in GeneralContractorList %}
                                        <tr>
                                            <th scope="row">{{ general_contractor.name }}</th>
                                            <td>{{ general_contractor.ceo }}</td>
                                            <td>{{ general_contractor.president }}</td>
                                            <td>{{ general_contractor.email }}</td>
                                            <td>{{ general_contractor.phone_number }}</td>
                                            {#                                            <td>{{ general_contractor.is_active }}</td>#}
                                            <td>
                                                <!--<a href="" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>-->
                                                <a href="{% url 'general_contractor:gc_update' user.userprofile.companies.id general_contractor.id %}" class="btn .btn-transparent btn-xs"><i class="fa fa-pencil fa-lg"></i> </a>
                                                {%  if  user.is_staff and user.userprofile.role is 1 %}
                                                    <a href="{% url 'general_contractor:gc_delete' user.userprofile.companies.id general_contractor.id %}" class="btn .btn-transparent btn-xs"><i class="fa fa-trash-o fa-lg"></i> </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                {% else %}
                                    <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

{% endblock javascripts %}
