{% extends "base/base_site.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block content %}
    <div class="right_col" role="main">
        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price container-fluid">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2><i class="fa fa-bookmark-o"></i> Assign <strong class="blue">Projects </strong> to Users</h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" align="right">

            </div>
        </div>
        <!-- End Top Title-->

        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">

                        <div class="">
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h3 class="green"><i class="fa fa-users"></i> Users Assigned to Projects.</h3>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <div class="x_content">
                                                {% if AssignedToUser %}
                                                    {% regroup AssignedToUser by userprofile__username__email as username %}
                                                    {% for userprofile__username__email in username %}
                                                        {% if userprofile__rol is not 1 %}
                                                            <table id="datatable-buttons" class="table table-striped table-bordered" width="70%">
                                                            <h5 class="blue">
                                                                {{ userprofile__username__email.grouper }}
                                                                <a href="{% url 'project:project_contractor_update' 1 1 1 %}" class="btn .btn-transparent btn-sm">
                                                                                <i class="fa fa-plus-square-o fa-lg">
                                                                                </i> </a>
                                                            </h5>

                                                            <thead>
                                                            <tr>
                                                                <th width="3%">No.</th>
                                                                <th width="850%">Project Name</th>
                                                                <th width="10%">Action</th>
                                                            </tr>
                                                            </thead>
                                                            {% for rs in userprofile__username__email.list %}
                                                                <tbody>
                                                                <tr>
                                                                    <th> {{ forloop.counter }}</th>
                                                                    <th scope="row"><span>{{ rs.projects__name }}</span></th>
                                                                <th> <a href="{% url 'project:project_contractor_update' 1 1 1 %}" class="btn .btn-transparent btn-sm">
                                                                                <i class="fa fa-trash-o fa-lg">
                                                                                </i> </a></th>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}

                                                {% else %}
                                                    <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                                {% endif %}
                                                </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
    {{ block.super}}
    <!-- Ion.RangeSlider -->
    <script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

    <!-- Bootstrap Colorpicker -->
    <script src="/static/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

    <!-- jquery.inputmask -->
    <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

    <!-- jQuery Knob -->
    <script src="/static/vendors/jquery-knob/dist/jquery.knob.min.js"></script>

    <!-- Cropper -->
    <script src="/static/vendors/cropper/dist/cropper.min.js"></script>

    <!-- validator -->
    <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}



