{% extends "base/base_site.html" %}
{% load qr_code %}
<title>SAMSON Project Management and Comunication - SPMC | {% block title %} Employee Profile  {% endblock %}</title>

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">

        <div class="">
            <!--<div class="page-title">-->
            <!--<div class="title_left">-->
            <!--<h3>User Profile</h3>-->
            <!--</div>-->

            <!--<div class="title_right">-->
            <!--<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">-->
            <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" placeholder="Search for...">-->
            <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default" type="button">Go!</button>-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><div class="title_left">
                                <h3>User Profilessss</h3>
                            </div>
                                {#                                <small>Information About Employee</small>#}
                            </h2>
                            {% comment %}<ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>{% endcomment %}
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="col-md-3 col-sm-3 col-xs-12 profile_left" align="center">
                                {% for employee_profile in EmployeeList %}
                                    <h3>{{ employee_profile.first_name |upper }} {{ employee_profile.last_name | upper }}</h3>
                                    <h2 class="green"><strong>{{ employee_profile.employee_code }} </strong></h2>
                                    <div class="profile_img">
                                        <div id="crop-avatar">
                                            <!-- Current avatar -->
                                            {% if employee_profile.avatar %}
                                                <img class="img-responsive avatar-view" src="/media/{{ employee_profile.avatar }}" alt="Avatar" title="Change the avatar">
                                            {% else %}
                                                <img class="img-responsive avatar-view" src="/static/images/user-flat.png" alt="Avatar" title="Change the avatar">
                                            {% endif %}
                                        <ul>
                                        <li style="list-style-type: none;">
                                            {{ employee_profile.category_employees.name }}
                                        </li>
                                        <li class="list-group-item-text" style="list-style-type: none;">
                                            <a href="http://www.dynamic-contracting.com" target="_blank">{{ employee_profile.companies }}</a>
                                        </li>
                                    </ul>
                                        </div>
                                    </div>

                                    <h3> dsfsdfsf {{ employee_profile.qrcode }} </h3>
                                    {% if employee_profile.employee_code %}
                                        {% qr_from_text QRCodeData.employee_code size="5" image_format='png' %}
                                    {% else %}
                                        <h5 class="red">WITHOUT QR CODE</h5>
                                    {% endif %}

                                    <ul>
                                        <li style="list-style-type: none;">{{ employee_profile.street_address }},
                                        </li>
                                        <li style="list-style-type: none;">{{ employee_profile.city_address }}, {{ employee_profile.state_address}}, {{ employee_profile.country_address }}</li>

                                    </ul>
                                    </br>
                                    <a href="{% url 'employee:employee_update' employee.id %}" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Edit General Info </a>
                                {% endfor %}
                                <br />

                                <!-- start skills -->
                                {% comment %}<h4>Skills</h4>
                            <ul class="list-unstyled user_data">
                                <li>
                                    <p>Web Applications</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>Website Design</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>Automation & Testing</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>UI / UX</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                                    </div>
                                </li>
                            </ul>{% endcomment %}
                                <!-- end of skills -->

                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">

                                {% comment %}<div class="profile_title">
                                <div class="col-md-6">
                                    <h2>User Activity Report</h2>
                                </div>
                                <div class="col-md-6">
                                    <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                    </div>
                                </div>
                            </div>
                            <!-- start of user-activity-graph -->
                            <div id="graph_bar" style="width:100%; height:280px;"></div>{% endcomment %}
                                <!-- end of user-activity-graph -->

                                <div class="" role="tabpanel" data-example-id="togglable-tabs">

                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        {% comment %}<li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Recent Activity</a>
                                    </li>{% endcomment %}
                                        <li role="presentation" class=""><a href="#tab_content1" role="tab" id="home-tab" data-toggle="tab" aria-expanded="true">Projects Worked on</a>
                                        </li>
                                        {% comment %}                                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">Profile</a>
                                    </li>{% endcomment %}
                                        {% comment %}                                    <li role="presentation" class="active"><a href="#tab_content1" id="profile-tab1" role="tab" data-toggle="tab" aria-expanded="false">Last Access</a>
                                    </li>{% endcomment %}
                                    </ul>

                                    <div id="myTabContent" class="tab-content">
                                        {% comment %}                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                        <!-- start recent activity -->
                                        <ul class="messages">

                                            <li>
                                                <img src="/static/images/img.jpg" class="avatar" alt="Avatar">
                                                <div class="message_date">
                                                    <h3 class="date text-info">24</h3>
                                                    <p class="month">May</p>
                                                </div>

                                                <div class="message_wrapper">
                                                    <h4 class="heading">Desmond Davison</h4>
                                                    <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                    <br />
                                                    <p class="url">
                                                        <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                        <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                                    </p>
                                                </div>
                                            </li>

                                            <li>
                                                <img src="/static/images/img.jpg" class="avatar" alt="Avatar">
                                                <div class="message_date">
                                                    <h3 class="date text-error">21</h3>
                                                    <p class="month">May</p>
                                                </div>
                                                <div class="message_wrapper">
                                                    <h4 class="heading">Brian Michaels</h4>
                                                    <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                    <br />
                                                    <p class="url">
                                                        <span class="fs1" aria-hidden="true" data-icon=""></span>
                                                        <a href="#" data-original-title="">Download</a>
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="/static/images/img.jpg" class="avatar" alt="Avatar">
                                                <div class="message_date">
                                                    <h3 class="date text-info">24</h3>
                                                    <p class="month">May</p>
                                                </div>
                                                <div class="message_wrapper">
                                                    <h4 class="heading">Desmond Davison</h4>
                                                    <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                    <br />
                                                    <p class="url">
                                                        <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                        <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="/static/images/img.jpg" class="avatar" alt="Avatar">
                                                <div class="message_date">
                                                    <h3 class="date text-error">21</h3>
                                                    <p class="month">May</p>
                                                </div>
                                                <div class="message_wrapper">
                                                    <h4 class="heading">Brian Michaels</h4>
                                                    <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                    <br />
                                                    <p class="url">
                                                        <span class="fs1" aria-hidden="true" data-icon=""></span>
                                                        <a href="#" data-original-title="">Download</a>
                                                    </p>
                                                </div>
                                            </li>

                                        </ul>
                                        <!-- end recent activity -->

                                    </div>{% endcomment %}

                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="home-tab">

                                            <!-- start user projects -->
                                            <!-- start project list -->
                                            <table class="table table-striped projects">
                                                <thead>
                                                <tr>
                                                    <th>PO # </th>
                                                    <th>Project Name</th>
                                                    <th>Location</th>
                                                    <th>Cost USD</th>
                                                    <th>Start Date</th>
                                                    <th>Finish Date</th>
                                                    <th>Complexity</th>
                                                    <th>Project Own</th>
                                                    {#                                                    <th>Action </th>#}
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr>
                                                    {% if ProjectEmployee %}
                                                        {% for project in ProjectEmployee %}

                                                            <th scope="row" width="5%"> {{ project.projects.po}} </th>
                                                            <td scope="row" width="20%">
                                                                <strong>{{ project.projects.name }} </small> </strong></br>
                                                                <small class="blue"> {{ project.proyects.general_contractors_id }}</small>
                                                            </td>
                                                            <td>{{ project.projects.street_address }} </br> <small class="green"> {{ project.projects.city_address }}, {{ project.projects.state_address }}, {{ project.projects.zip_code_address }}</small></td>
                                                            <td>
                                                                {{ project.projects.cost }}
                                                                </br>
                                                                <small class="green">Project Cost</small>
                                                            </td>
                                                            <td>
                                                                {{ project.projects.start_date }}
                                                                </br>
                                                                <small class="green">Expected date</small>
                                                            </td>
                                                            <td>
                                                                {{ project.projects.finish_date }}
                                                                </br>
                                                                <small class="green">Expected date</small>
                                                            </td>
                                                            <td width="10%">

                                                                {% if project.projects.complexity == 'L' %}
                                                                    <span class="label label-success pull-center">{{ project.projects.complexity|center:120 }}</span>

                                                                {% else %}
                                                                    {% if project.projects.complexity == 'M'  %}
                                                                        <span class="label label-warning pull-center">{{ project.projects.complexity|center:120 }}</span>

                                                                    {% else %}
                                                                        <span class="label label-danger pull-center">{{ project.projects.complexity|center:120 }}</span>
                                                                    {% endif %}
                                                                {% endif %}

                                                            </td>
                                                            <td>
                                                                {% if user.id  == project.create_user_id %}
                                                                    <span class="label label-info">{{ user.first_name }} {{ user.last_name }} </span>
                                                                    </br>
                                                                    <small class="green">{{ project.created_at | date:'YMD' }} </smal>

                                                                    </small></td>
                                                                {% endif %}
                                                            {% comment %}<td>

                                                                {% if user.is_staff == True %}
                                                                    <a href="{% url 'project:project_update' project.projects.id %}" class="btn .btn-transperent btn-xs" data-toggle="tooltip" data-placement="left" title=" Edit {{ project.name }}">
                                                                        <i class="fa fa-pencil fa-lg"></i></a>
                                                                    <a href="{% url 'project:project_delete' project.projects.id %}" class="btn .btn-transparent btn-xs" data-toggle="tooltip" data-placement="left" title=" Delete {{ project.name }}">
                                                                        <i class="fa fa-trash-o fa-lg"></i></a>
                                                                    <a href="{% url 'project:project_detail' project.projects.id %}" class="btn .btn-transparent btn-xs" data-toggle="tooltip" data-placement="left" title=" View Profile of {{ project.name }}">
                                                                        <i class="fa fa-eye fa-lg"></i></a>
                                                                    </br>


                                                                {% else %}
                                                                    {% if user.id  == project.create_user_id %}
                                                                        <a href="{% url 'project:project_update' project.projects.id %}" class="btn .btn-transperent btn-xs" data-toggle="tooltip" data-placement="left" title=" Edit {{ project.name }}">
                                                                            <i class="fa fa-pencil fa-lg"></i></a>

                                                                        {%  if user.is_staff %}
                                                                            <a href="{% url 'project:project_delete' project.projects.id %}" class="btn .btn-transparent btn-xs" data-toggle="tooltip" data-placement="left" title=" Delete {{ project.name }}">
                                                                                <i class="fa fa-trash-o fa-lg"></i></a>
                                                                        {% endif %}
                                                                        <a href="{% url 'project:project_detail' project.projects.id %}" class="btn .btn-transparent btn-xs" data-toggle="tooltip" data-placement="left" title=" View Profile of {{ project.name }}">
                                                                            <i class="fa fa-eye fa-lg"></i></a>
                                                                        </br>
                                                                    {% else %}

                                                                        <button type="button" class="btn .btn-transperent btn-xs fa fa-pencil fa-lg" disabled disabled data-toggle="tooltip" data-placement="left" title="{{ project.name }}"></button>
                                                                        <button type="button" class="btn .btn-transparent btn-xs fa fa-trash-o fa-lg" disabled data-toggle="tooltip" data-placement="left" title="{{ project.name }}"> </button>
                                                                    {% endif %}
                                                                {% endif %}

                                                            </td>{% endcomment %}

                                                            </tr>
                                                        {% endfor %}

                                                    {% endif %}


                                                </tbody>
                                            </table>
                                            <!-- end project list -->
                                            <!-- end user projects -->

                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                            <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                                                photo booth letterpress, commodo enim craft beer mlkshk </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- morris.js -->
    <script src="/static/vendors/raphael/raphael.min.js"></script>
    <script src="/static/vendors/morris.js/morris.min.js"></script>
{% endblock javascripts %}