{% extends "base/base_site.html" %}
      <title>SAMSON Project Management and Comunication - SPMC | {% block title %} Delete Employee {% endblock %}</title>

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Employee module</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
{#                <button class="btn btn-default" type="button">Go!</button>#}
              </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Employee Delete<small>(Elimination of information from employees)</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30">
                                Make sure there is no information related the employee <button class="btn btn-warning">{{ object.first_name }} {{ object.last_name }}</button>, since all the information will be lost without being able to recover.                            </p>
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                </thead>
                                {# CODE ELIMINATE#}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <h3>Be sure to eliminate the employee <b>{{ object.first_name}} {{ object.last_name }}?</b></h3>

                                    <button class="btn btn-danger" type="submit">Yes, Delete</button>
                                    <a class="btn btn-primary" href="{%  url 'employee:employee_list' user.userprofile.companies.id %}">Cancelar</a>

                                </form>

                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


