<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}

        <title>SAMSON Project Management and Comunication - SPMC | {% block title %}{% endblock %}</title>
        <link rel="icon" href="/static/img/favicon-32x32.png">

        {% block stylesheets %}
            {% comment %}<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            {#            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
            <!-- Latest compiled and minified JavaScript -->
            {#            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}{% endcomment %}
            <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

            <!-- Bootstrap -->
            <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
            <!-- Font Awesome -->
            <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
            <!-- NProgress -->
            <link href="/static/vendors/nprogress/nprogress.css" rel="stylesheet">
            <!-- bootstrap-daterangepicker -->
            <link href="/static/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
            <!-- iCheck -->
            <link href="/static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
            <!-- bootstrap-progressbar -->
            <link href="/static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
            <!-- JQVMap -->
            <link href="/static/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>

            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


        {% endblock stylesheets %}

        <!-- Custom Theme Style -->
        <link href="/static/build/css/custom.css" rel="stylesheet">
        <link href="/static/build/css/style.css" rel="stylesheet">

        <link href="/static/build/dist/switchery.min.css" rel="stylesheet"/>
        {#        <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>#}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>

        <style>
            #bootstrap-overrides input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus{
                border-color: #0e97ff;
                box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(14, 151, 255, 0.6);
                outline: 0 none;
            }
        </style>

    {% endblock head %}
</head>

<body class="{% block body_class %} nav-md {% endblock body_class %} ">

{% block body %}

    <div class="container body">
        <div class="main_container">

            {# SAMSON SIDEBAR #}
            {% block sidebar %}
                <div class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
                    {% include "base/sidebar.html" %}
                </div>
            {% endblock sidebar %}

            {# SAMSON NAVIGATION #}
            {% block top_navigation %}
                <div class="top_nav">
                    {% include "base/top_navigation.html" %}
                </div>
            {% endblock top_navigation %}

            {# SAMSON CONTENT #}
            {% block content %}
                <!-- {{ content }} -->
            {% endblock content %}

            {# SAMSON FOOTER #}
            {% block footer %}
                <footer>
                    {% if  user.userprofile.companies.id %}
                        {% include "base/footer.html" %}
                    {% endif %}
                </footer>
            {% endblock footer %}
        </div>
    </div>

    {% block javascripts %}

        <script type="text/javascript" src="https://ajax.cloudflare.com/cdn-cgi/scripts/78d64697/cloudflare-static/rocket.min.js"></script>

        <!-- jQuery -->
        <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="/static/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="/static/vendors/nprogress/nprogress.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="/static/vendors/iCheck/icheck.min.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="/static/vendors/moment/min/moment.min.js"></script>
        <script src="/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
        <script src="/static/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
        <script src="/static/vendors/google-code-prettify/src/prettify.js"></script>
        <!-- jQuery Tags Input -->
        <script src="/static/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
        <!-- Switchery -->
        <script src="/static/vendors/switchery/dist/switchery.min.js"></script>
        <!-- Select2 -->
        <script src="/static/vendors/select2/dist/js/select2.full.min.js"></script>
        <!-- Parsley -->
        <script src="/static/vendors/parsleyjs/dist/parsley.min.js"></script>
        <!-- Autosize -->
        <script src="/static/vendors/autosize/dist/autosize.min.js"></script>
        <!-- jQuery autocomplete -->
        <script src="/static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        <!-- starrr -->
        <script src="/static/vendors/starrr/dist/starrr.js"></script>
    {% endblock %}
    <!-- Custom Theme Scripts Graficos -->
    <script src="/static/build/js/custom.js"></script>
{% endblock body %}
</body>
</html>
