
{#  SIMPLTON - Based on Template by <a href="https://colorlib.com/wp/free-bootstrap-admin-dashboard-templates/">Colorlib</a>#}
{#| SAMSON Created by Giovanni Hurtado.</div>#}

<nav class="col-md-12 col-sm-12 col-xs-12 nav navbar-fixed-bottom" style="background-color: #fff; border-color: #00caff; border-radius: inherit; padding-top: auto">
    <div class="align-right">
        <div class="col-md-12 col-sm-12 col-xs-12" align="right">
            <strong>SAMSON - SPMC</strong> - Created by Alex G. Hurtado.
        </div>
    </div>

</nav>
<div class="clearfix"></div>