<div class="left_col scroll-view">
    <div class="profile clearfix">
        <div class="img-responsive">
            <img src="/static/images/samson-logo.png" alt="..." class="img-responsive profile_img">
        </div>

        <div class="img-responsive" style="padding: 10px 10px 10px 10px">
            {% if user.userprofile.companies.company_logo %}
                <img src="/media/{{ user.userprofile.companies.company_logo }}" class="img-responsive profile_img">
            {% else %}
                <img src="/media/images/company/logo/no-logo.png"  data-placement="left" title="{{ user.userprofile.companies.name }}" class="img-responsive profile_img">
            {% endif %}
        </div>
    </div>

    <!-- /menu profile quick info -->
    {% if user.userprofile.companies.name is not None %}
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <!--<h3>General</h3>-->
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-sitemap"></i> SAMSON MENU</a>
                    </li>

                    {%  if user.userprofile.role is 1 %}
                        <li><a><i class="fa fa-home"></i> Dashboard Home <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="{% url 'company:company_dashboard' user.userprofile.companies.id %}"> Company</a></li>
                            </ul>
                        </li>

                        <li><a><i class="fa fa-dot-circle-o"></i> Company<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="{% url 'company:company_list' %}">List</a></li>
                                <li class="sub_menu"><a href="{% url 'company:company_create' %}">New</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    {# SETUP #}
                    {%  if user.is_staff and user.userprofile.role is 1 or user.userprofile.role is 4%}
                        <li><a><i class="fa fa-gear"></i> Setup<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="{% url 'company:category_project_list' user.userprofile.companies.id %}">Category Project</a></li>
                                <li><a href="{% url 'company:category_employee_list' user.userprofile.companies.id %}">Category Employee</a></li>
                                <li><a href="{% url 'company:category_employee_field_list' user.userprofile.companies.id %}">Category Employee Field</a></li>
                                <li><a href="{% url 'company:category_cost_code_list' user.userprofile.companies.id %}">Category Cost Code</a></li>
                                <li><a href="{% url 'company:cost_code_list' user.userprofile.companies.id %}">Database Cost Code</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    {# CONTRACTOR #}
                    <li><a><i class="fa fa-road"></i> Contractor<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url 'contractor:contractor_list' user.userprofile.companies.id %}">List</a></li>
                            {%  if  user.is_staff or user.userprofile.role is 1  %}
                                <li><a href="{%  url 'contractor:contractor_create' user.userprofile.companies.id %}">New</a></li>
                            {% endif %}
                            <li><a href="{%  url 'contractor:contractor_employee_field_all_list' user.userprofile.companies.id %}">All field employees</a></li>
                        </ul>
                    </li>

                    {# EMPLOYEE #}
                    <li><a><i class="fa fa-users"></i> Employee<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu"><a href="{% url 'employee:employee_list' user.userprofile.companies.id %}">List</a></li>
                            {%  if user.userprofile.role is 1 %}
                                <li class="sub_menu"><a href="{% url 'employee:employee_create' user.userprofile.companies.id %}">New</a></li>
                            {% endif %}
                            <li><a href="{% url 'employee:employee_list_card' user.userprofile.companies.id 'All' %}">Directory of Employees</a></li>

                        </ul>
                    </li>

                    {# PROJECT #}
                    <li><a><i class="fa fa-building-o"></i> Project<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu"><a href="{% url 'project:project_list' user.userprofile.companies.id user.id %}">List</a></li>
                            {%  if user.is_staff or user.userprofile.role is 1 or user.userprofile.role is 4 %}
                                <li class="sub_menu"><a href="{% url 'project:project_create' user.userprofile.companies.id user.id %}">New</a></li>
                            {% endif %}
                            <li><a href="{% url 'project:project_assign_project_to_user_list' user.userprofile.companies.id  %}">Assigned Users</a></li>


                        </ul>
                    </li>

                    {# GENERAL CONTRACTOR #}
                    {%  if user.is_staff and user.userprofile.role is 1 or user.userprofile.role is 4 %}
                        <li><a><i class="fa fa-clock-o"></i> General Contractor<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="{% url 'general_contractor:gc_list' user.userprofile.companies.id %}">List</a></li>
                                {%  if  user.is_staff or user.userprofile.role is 1 %}
                                    <li><a href="{%  url 'general_contractor:gc_create' user.userprofile.companies.id %}">New</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    <li><a><i class="fa fa-info-circle"></i> <span class="label label-warning">TRIAL MODE v.1.0</span><span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>Thanks for trying SAMSON (Release 1.0)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="{% url 'logout' %}">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>
