{%  if  user.is_staff  %}
    <div class="nav_menu" style="background-color: #cce5ff;">
{% else %}
    <div class="nav_menu">
{% endif %}

<nav class="col-md-12 col-sm-12 col-xs-12 nav navbar-header" style="background-color: #EDEDED; border-color: #00caff; border-radius: inherit; padding-top: auto">
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            {% if user.userprofile.companies.name %}
                <ul class="nav navbar-nav navbar-right col-sm-12">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Welcome, {{ user.username}} the last login was {{ user.last_login}} - {{ request.user.userprofile.role }}">
                            {% if user.userprofile.avatar %}
                                <img src="/media/{{ user.userprofile.avatar }}">{{ user.first_name }} {{ user.last_name }}
                            {% else %}
                                <img src="/static/images/img.jpg" alt=""> {{ user.first_name }} {{ user.last_name }}
                            {% endif %}
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            {% if user.userprofile.role is 1  %}
                                <li><a href="{% url 'user_profile:profile' user.userprofile.companies.id user.id %}"> Profile</a></li>
                                <li><a href="{% url 'company:company_update' user.userprofile.companies.id %}"> Company Edit</a></li>

                            {% endif %}
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
</div>