{% extends "base/base_site.html" %}
<title>SAMSON Project Management and Comunication - SPMC | {% block title %} Contractor Employees List {% endblock %}</title>

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    {#                    <h3>Employees Field List</h3>#}
                </div>


                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">

                            {#                            <button class="btn btn-default" type="button">Go!</button>#}
                            <span class="input-group-btn">
                             </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <div class="x_title">
                                <h3 align="center" class="green"><strong>List of Employees Field </strong> | Ordered by Contractor.</h3>
                            </div>
                        </div>

                        <div class="x_content">
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Employee CODE</th>
                                    <th>Employee Field Name</th>
                                    <th>Contacts</th>
                                    <th>Address</th>
                                    <th>Contractor</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if EmployeeFieldAllList %}
                                    {% for employee_field_all_list in EmployeeFieldAllList %}
                                        <tr>
                                            <th width="5%">
                                                {% if employee_field_all_list.employees_field.avatar %}
                                                    <img class="img-responsive avatar-view" src="/media/{{ employee_field_all_list.employees_field.avatar }}" alt="Avatar" title="Change the avatar">
                                                {% else %}
                                                    <img class="img-responsive avatar-view" src="/static/images/user-flat.png" alt="Avatar" title="Change the avatar">
                                                {% endif %}

                                            </th>

                                            <th width="5%">
                                                <strong><span class="badge bar-success">{{ employee_field_all_list.employees_field.employee_field_code }}</span></strong>
                                            </th>
                                            <td>
                                                <strong>{{ employee_field_all_list.employees_field.first_name }} {{ employee_field_all_list.employees_field.last_name }}</strong>
                                                </br>
                                                <span class="blue">{{ employee_field_all_list.employees_field.category_employees_field }}</span>
                                            </td>

                                            <td>
                                                {{ employee_field_all_list.employees_field.cell_phone_number }} </br>
                                                <span class="blue">{{ employee_field_all_list.employees_field.email }}</span>
                                            </td>

                                            <td>{{ employee_field_all_list.employees_field.street_address }}, </br>
                                                <span class="green">
                                                    {{ employee_field_all_list.employees_field.city_address }}, {{ employee_field_all_list.employees_field.state_address }}
                                                </span>
                                            </td>
                                            <th>
                                                {{ employee_field_all_list.contractors.name }} </br>
                                                <span class="green">
                                                    {{ employee_field_all_list.contractors.phone_number }}
                                                </span>
                                            </th>
                                            <td>
                                                {% comment %}                                                <a href="{% url 'contractor:contractor_employee_field_profile' employee_field_all_list.contractors.id employee_field_all_list.employees_field.id %}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> Profile </a>{% endcomment %}
                                                {%  if user.userprofile.role is 1  %}
                                                    <a href="{% url 'contractor:employee_field_update' user.userprofile.companies.id employee_field_all_list.employees_field.id  %}" class="btn .btn-transparent btn-xs"><i class="fa fa-pencil fa-lg"></i> </a>
                                                    <a href="{% url 'contractor:contractor_employee_field_all_update' user.userprofile.companies.id employee_field_all_list.contractors.id employee_field_all_list.id  %}" class="btn .btn-transparent btn-xs"><i class="fa fa-link fa-lg"></i> </a>
                                                {% endif %}
                                                <a href="{% url 'contractor:contractor_employee_field_profile' user.userprofile.companies.id employee_field_all_list.contractors.id employee_field_all_list.employees_field.id  %}" class="btn .btn-transparent btn-xs"><i class="fa fa-gear fa-lg"></i> </a>

                                            </td>

                                        </tr>
                                    {% endfor %}

                                {% else %}
                                    <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

{% endblock javascripts %}
