{% extends "base/base_site.html" %}
{% load qr_code %}
{% load humanize %}

<title>SAMSON Project Management and Comunication - SPMC | {% block title %} Employee Profile  {% endblock %}</title>

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
            <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2><i class="fa fa-bookmark-o"></i> <strong>PROFILE</strong></h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right" align="right">
            </div>
        </div>
        <!-- End Top Title-->

        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><div class="title_left">
                                <h3>Employee Field Profile Information</h3>
                            </div>
                            </h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="col-md-3 col-sm-3 col-xs-12 profile_left" align="center">
                                {% if EmployeeFieldList %}
                                    <h3 class="green"><strong>{{ EmployeeFieldList.contractors.name }}</strong></h3>
                                    <div class="profile_img">
                                        <div id="crop-avatar">
                                            <!-- Current avatar -->
                                            {% if EmployeeFieldList.employees_field.avatar %}
                                                <img class="img-responsive avatar-view" src="/media/{{ EmployeeFieldList.employees_field.avatar }}" alt="Avatar" title="Change the avatar">
                                            {% else %}
                                                <img class="img-responsive avatar-view" src="/static/images/user-flat.png" alt="Avatar" title="Change the avatar">
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-12 col-sm-12 emphasis" align="center">
                                            <p class="ratings" align="center">
                                                <a>{{ EmployeeFieldList.employees_field.avg_rating }}.0</a>
                                                <a href="#"><span class="fa fa-star"></span></a>
                                                <a href="#"><span class="fa fa-star"></span></a>
                                                <a href="#"><span class="fa fa-star"></span></a>
                                                <a href="#"><span class="fa fa-star"></span></a>
                                                {% if EmployeeFieldList.employees_field.avg_rating == 5 %}
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                {% else %}
                                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                                {% endif %}
                                            </p>
                                        </div>
                                        </br>
                                    </div>

                                    <h3>{{ EmployeeFieldList.employees_field.first_name |upper }} {{ EmployeeFieldList.employees_field.last_name | upper }}</h3>
                                    <h2 class="blue"><strong>{{ EmployeeFieldList.employees_field.category_employees_field.name }}</strong></h2>

                                    <h5>{{ EmployeeFieldList.employees_field.email }}</h5>
                                    <h5>{{ EmployeeFieldList.employees_field.cell_phone_number }}</h5>
                                    <h3><span class="progress red"><strong>{{ EmployeeFieldList.employees_field.employee_field_code }} </strong></span></h3>
                                    {% if EmployeeFieldList.employees_field.employee_field_code %}
                                        {% qr_from_text QRCodeData.employee_field_code size="5" image_format='png' %}
                                    {% else %}
                                        <h5 class="red">WITHOUT QR CODE</h5>
                                    {% endif %}

                                    </br>
                                    <br>
                                {% endif %}
                                <br />


                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">


                                <div class="" role="tabpanel" data-example-id="togglable-tabs">

                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">

                                        <li role="presentation" class=""><a href="#tab_content1" role="tab" id="home-tab" data-toggle="tab" aria-expanded="true">Projects Worked on</a>
                                        </li>

                                    </ul>

                                    <div id="myTabContent" class="tab-content">

                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="home-tab">
                                            <div class="x_title">
                                                <h3 align="center" class="green">Work on these recent projects. <strong class="green-dark">{{ project.name }}</strong></h3>
                                                <div class="clearfix"></div>
                                            </div>


                                            <!-- start user projects -->
                                            <!-- start project list -->
                                            <table class="table table-striped projects">
                                                <thead>
                                                <tr>
                                                    <th>PO # </th>
                                                    <th>Project Name</th>
                                                    <th>Contractor</th>
                                                    <th>Cost USD</th>
                                                    <th>Start Date</th>
                                                    <th>Finish Date</th>
                                                    <th>Complexity</th>
                                                    <th>Hours</th>
                                                    <th>Cost</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr>
                                                    {% if ProjectDetailEmployee %}
                                                        {% for project in ProjectDetailEmployee %}

                                                            <th scope="row" width="7%"> {{ project.project_contractor_employees_field__project_contractors__projects__po }} </th>
                                                            <td scope="row" width="18%">
                                                                <strong>{{ project.project_contractor_employees_field__project_contractors__projects__name }} </strong></br>

                                                                <small class="blue"> {{ project.project_contractor_employees_field__project_contractors__projects__street_address }} </small></br> <small class="green"> {{ project.project_contractor_employees_field__project_contractors__projects__city_address }}, {{ project.project_contractor_employees_field__project_contractors__projects__state_address }}
                                                            </small>
                                                            </td>
                                                            <td>{{ project.project_contractor_employees_field__project_contractors__contractors__name }}</td>
                                                            <td>
                                                                $ {{ project.project_contractor_employees_field__project_contractors__projects__cost|intword }}
                                                                </br>
                                                                <small class="green">Project Cost</small>
                                                            </td>
                                                            <td>
                                                                {{ project.project_contractor_employees_field__project_contractors__projects__start_date }}
                                                                </br>
                                                                <small class="green">Expected date</small>
                                                            </td>
                                                            <td>
                                                                {{ project.project_contractor_employees_field__project_contractors__projects__finish_date }}
                                                                </br>
                                                                <small class="green">Expected date</small>
                                                            </td>
                                                            <td width="10%">

                                                                {% if project.project_contractor_employees_field__project_contractors__projects__complexity == 'L' %}
                                                                    <span class="label label-success pull-center">{{ project.project_contractor_employees_field__project_contractors__projects__complexity|center:120 }}</span>

                                                                {% else %}
                                                                    {% if project.projects.complexity == 'M'  %}
                                                                        <span class="label label-warning pull-center">{{ project.project_contractor_employees_field__project_contractors__projects__complexity|center:120 }}</span>

                                                                    {% else %}
                                                                        <span class="label label-danger pull-center">{{ project.project_contractor_employees_field__project_contractors__projects__complexity|center:120 }}</span>
                                                                    {% endif %}
                                                                {% endif %}

                                                            </td>
                                                            <td>
                                                                {{ project.hours }}
                                                            </td>
                                                            <td>
                                                                $ {{ project.cost | floatformat:2  }}
                                                            </td>

                                                            <td>
                                                                <a href="" class="btn .btn-transparent btn-xs"><i class="fa fa-gear fa-lg"></i> </a>
                                                            </td>
                                                            </tr>
                                                        {% endfor %}

                                                    {% endif %}
                                                <tr>
                                                    <th></th>
                                                    <th> </th>
                                                    <th></th>
                                                    <th> </th>
                                                    <th> </th>
                                                    <th> </th>
                                                    <th>Totals:</th>
                                                    <th>{{ 0 }}</th>
                                                    <th>{{ 0 }}</th>
                                                    <th></th>
                                                    {#                                                    <th>Action </th>#}
                                                </tr>


                                                </tbody>
                                            </table>
                                            <!-- end project list -->
                                            <!-- end user projects -->

                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                            <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                                                photo booth letterpress, commodo enim craft beer mlkshk </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- morris.js -->
    <script src="/static/vendors/raphael/raphael.min.js"></script>
    <script src="/static/vendors/morris.js/morris.min.js"></script>
{% endblock javascripts %}