{% extends "base/base_site.html" %}
<title>SAMSON Project Management and Comunication - SPMC | {% block title %} Contats Lists {% endblock %}</title>
{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2> <strong> Directory <strong class="blue">Employee Office</strong></h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right" align="right">

            </div>
        </div>
        <!-- End Top Title-->

        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    <ul class="pagination pagination-split">
                                        <li><a href="{%  url 'employee:employee_list_card' user.userprofile.companies.id 'All'  %}">All</a></li>

                                    </ul>
                                </div>

                                <div class="clearfix"></div>
                                {% if object_list %}
                                    {% for employee in object_list %}

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">

                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <h3 class="brief"><i>{{ employee.company }}</i></h3>
                                                    <div class="left col-xs-7">
                                                        <h3>{{ employee.first_name }} {{ employee.last_name }}</h3>
                                                        <h2 class="green">{{ employee.category_employees.name }}</h2>
                                                        </br>
                                                        {#                                                        <p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>#}
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-building"></i> Address: {{ employee.street_address }} {{ employee.city_address }} {{ employee.state_address }}</li>
                                                            <li><i class="fa fa-phone"></i> Phone #: {{ employee.cell_phone_number }}</li>
                                                            <li><i class="fa fa-envelope"></i> Email: {{ employee.email }}</li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        {% if employee.avatar %}
                                                            <img src="/media/{{ employee.avatar }}" alt="" class="img-circle img-responsive">
                                                        {% else %}
                                                            <img src="/static/images/user-flat.png" alt="" class="img-circle img-responsive">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">

                                                    {%  if user.userprofile.role is 1 %}
                                                        <div class="col-xs-12 col-sm-6 emphasis">
                                                            <a type="button" class="btn btn-primary btn-xs" href="{% url 'employee:employee_profile' user.userprofile.companies.id employee.id %}">
                                                                <i class="fa fa-user"> </i> View Profile
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}

