{% extends "base/base_site.html" %}
{% load qr_code %}
<title>SAMSON Project Management and Comunication - SPMC | {% block title %} Employee Profile  {% endblock %}</title>

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2><i class="fa fa-bookmark-o"></i> <strong>PROFILE</strong></h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right" align="right">
            </div>
        </div>
        <!-- End Top Title-->

        <div class="">
            <!--<div class="page-title">-->
            <!--<div class="title_left">-->
            <!--<h3>User Profile</h3>-->
            <!--</div>-->

            <!--<div class="title_right">-->
            <!--<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">-->
            <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" placeholder="Search for...">-->
            <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default" type="button">Go!</button>-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><div class="title_left">
                                <h3>Employee Profile Information.</h3>
                            </div>
                                {#                                <small>Information About Employee</small>#}
                            </h2>

                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="col-md-3 col-sm-3 col-xs-12 profile_left" align="center">
                                {% for employee_profile in EmployeeList %}
                                    <div class="profile_img" style="border: 1em;">
                                        <div id="crop-avatar">
                                            <!-- Current avatar -->
                                            {% if employee_profile.avatar %}
                                                <img class="img-responsive avatar-view" src="/media/{{ employee_profile.avatar }}" alt="Avatar" title="Change the avatar">
                                            {% else %}
                                                <img class="img-responsive avatar-view" src="/static/images/user-flat.png" alt="Avatar" title="Change the avatar">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <h3>{{ employee_profile.first_name |upper }} {{ employee_profile.last_name | upper }}</h3>
                                    <h2 class="blue">{{ employee_profile.category_employees.name }}</h2>
                                    <h5>{{ employee_profile.email }}</h5>
                                    <h5>{{ employee_profile.cell_phone_number }}</h5>
                                    <h3 class="green"><strong>{{ employee_profile.employee_code }} </strong></h3>
                                    <hr>
                                    {% if employee_profile.employee_code %}
                                        {% qr_from_text QRCodeData.employee_code size="5" image_format='png' %}
                                    {% else %}
                                        <h5 class="red">WITHOUT QR CODE</h5>
                                    {% endif %}
                                    <br/>
                                    <hr>
                                    {%  if user.userprofile.role is 1 %}
                                        <a href="{% url 'employee:employee_update' user.userprofile.companies.id employee.id %}" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Edit General Info </a>
                                    {% endif %}
                                {% endfor %}



                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">



                                <div class="" role="tabpanel" data-example-id="togglable-tabs">

                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">

                                        <li role="presentation" class=""><a href="#tab_content1" role="tab" id="home-tab" data-toggle="tab" aria-expanded="true">Projects Worked on</a>
                                        </li>

                                    </ul>

                                    <div id="myTabContent" class="tab-content">


                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="home-tab">
                                            <div class="x_title">
                                                <h3 align="center" class="green">Recent Projects <strong class="green-dark">{{ project.name }}</strong></h3>
                                                <div class="clearfix"></div>
                                            </div>


                                            <!-- start user projects -->
                                            <!-- start project list -->
                                            <table class="table table-striped projects">
                                                <thead>
                                                <tr>
                                                    <th>PO # </th>
                                                    <th>Project Name</th>
                                                    <th>Location</th>
                                                    <th>Cost USD</th>
                                                    <th>Start Date</th>
                                                    <th>Finish Date</th>
                                                    <th>Complexity</th>
                                                    <th>Project Own</th>
                                                    {#                                                    <th>Action </th>#}
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr>
                                                    {% if ProjectEmployee %}
                                                        {% for project in ProjectEmployee %}

                                                            <th scope="row" width="5%"> {{ project.projects.po}} </th>
                                                            <td scope="row" width="20%">
                                                                <strong>{{ project.projects.name }} </small> </strong></br>
                                                                <small class="blue"> {{ project.proyects.general_contractors_id }}</small>
                                                            </td>
                                                            <td>{{ project.projects.street_address }} </br> <small class="green"> {{ project.projects.city_address }}, {{ project.projects.state_address }}, {{ project.projects.zip_code_address }}</small></td>
                                                            <td>
                                                                {{ project.projects.cost }}
                                                                </br>
                                                                <small class="green">Project Cost</small>
                                                            </td>
                                                            <td>
                                                                {{ project.projects.start_date }}
                                                                </br>
                                                                <small class="green">Expected date</small>
                                                            </td>
                                                            <td>
                                                                {{ project.projects.finish_date }}
                                                                </br>
                                                                <small class="green">Expected date</small>
                                                            </td>
                                                            <td width="10%">

                                                                {% if project.projects.complexity == 'L' %}
                                                                    <span class="label label-success pull-center">{{ project.projects.complexity|center:120 }}</span>

                                                                {% else %}
                                                                    {% if project.projects.complexity == 'M'  %}
                                                                        <span class="label label-warning pull-center">{{ project.projects.complexity|center:120 }}</span>

                                                                    {% else %}
                                                                        <span class="label label-danger pull-center">{{ project.projects.complexity|center:120 }}</span>
                                                                    {% endif %}
                                                                {% endif %}

                                                            </td>
                                                            <td>
                                                                {% if user.id  == project.create_user_id %}
                                                                    <span class="label label-info">{{ user.first_name }} {{ user.last_name }} </span>
                                                                    </br>
                                                                    <small class="green">{{ project.created_at | date:'d M Y H:s A' }} </smal>

                                                                    </small></td>
                                                                {% endif %}


                                                            </tr>
                                                        {% endfor %}

                                                    {% endif %}


                                                </tbody>
                                            </table>
                                            <!-- end project list -->
                                            <!-- end user projects -->

                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                            <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                                                photo booth letterpress, commodo enim craft beer mlkshk </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- morris.js -->
    <script src="/static/vendors/raphael/raphael.min.js"></script>
    <script src="/static/vendors/morris.js/morris.min.js"></script>
{% endblock javascripts %}