{% extends "base/base_site.html" %}
{% load crispy_forms_tags %}
{% crispy form %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <!-- Start Top Title-->
            <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2> <strong> Assign <strong class="blue">Daily Labor</strong> to Project</strong></h2>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 pull-right" align="right">
                    <a class="btn btn-warning"  href="{% url 'project:project_detail' project_info.id %}">
                        <i class="fa fa-reply"></i> Return to Projects
                    </a>
                </div>
            </div>
            <!-- End Top Title-->
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3><i class="fa fa-building-o"></i> {{ project_info.name }} | <strong class="pink-primary">Daily Labor</strong></h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% crispy form %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super}}
    <!-- Ion.RangeSlider -->
    <script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

    <!-- Bootstrap Colorpicker -->
    <script src="/static/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

    <!-- jquery.inputmask -->
    <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

    <!-- jQuery Knob -->
    <script src="/static/vendors/jquery-knob/dist/jquery.knob.min.js"></script>

    <!-- Cropper -->
    <script src="/static/vendors/cropper/dist/cropper.min.js"></script>

    <!-- validator -->
    <script src="/static/vendors/validator/validator.js"></script>


    {#  Calendario Picker#}
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css"
          media="all" rel="stylesheet" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/monim67/django-bootstrap-datepicker-plus/master/bootstrap_datepicker_plus/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>
    {#  End Calendario Picker#}


    <script src="/static/vendors/pnotify/dist/pnotify.js"></script>
    <script src="/static/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>


    <script>
        $("#id_country").change(function () {
            var url = $("#personForm").attr("data-cities-url");
            var countryId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'country': countryId
                },
                success: function (data) {
                    $("#id_city").html(data);
                }
            });

        });
    </script>

{% endblock javascripts %}