{% extends "base/base_site.html" %}

<title>SAMSON Project Management and Comunication - SPMC | {% block title %} List of companies {% endblock %}</title>

{% block content %}

    {% if user.is_authenticated %}
        <h1>Hola {{ user.username }}</h1>
    {% else %}
        <a href="{% url 'user_profile:sign_up' %}">Registrate</a>
    {% endif %}
    {% if user.is_authenticated %}
        <h1>Hola {{ user.username }}</h1>
        <a href="{% url 'user_profile:sign_out' %}">Cerrar sesión</a>
    {% else %}
        <a href="{% url 'user_profile:sign_up' %}">Registrate</a>
        <a href="{% url 'user_profile:sign_in' %}">Iniciar sesión</a>
    {% endif %}
{% endblock content %}