{% extends "base/base_site.html" %}
{% load crispy_forms_tags %}
{% crispy form %}
<title>SAMSON Project Management and Comunication - SPMC | {% block title %} Create Employee {% endblock %}</title>

{% block content %}
    <div class="right_col" role="main">
            <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2><i class="fa fa-user-md"></i> <strong>User Profile</strong></h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right" align="right">
                <a class="btn btn-warning" href="{%  url 'company:company_dashboard' user.userprofile.companies.id %}">
                                 Cancel
                             </a>
            </div>
        </div>
        <!-- End Top Title-->
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><strong>Update Profile</strong></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {{ block.super}}
    <!-- Ion.RangeSlider -->
    <script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- Bootstrap Colorpicker -->
    <script src="/static/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- jquery.inputmask -->
    <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- jQuery Knob -->
    <script src="/static/vendors/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- Cropper -->
    <script src="/static/vendors/cropper/dist/cropper.min.js"></script>
    <!-- validator -->
    <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}



