{% extends "base/base_site.html" %}

{% load mathfilters %}
{% load staticfiles %}

<title>SAMSON Project Management and Comunication - SPMC | {% block title %} Project Detail {% endblock %}</title>

{% block sidebar_class %}menu_fixed{% endblock sidebar_class %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class='row'>
        <div class='col-sm-12' >
            <h1>Hello World</h1>
            <div class='col-sm-6'>
                <canvas id="myChart" width="300" height="300"></canvas>
            </div>
            <div class='col-sm-6'>
                <canvas id="myChart2" width="300" height="300"></canvas>
            </div>

        </div>
    </div>
{% endblock %}


{% block javascripts %}

    <script>
        {% block jquery %}
            var endpoint = '/project/1/api/chart/data/'
            var defaultData = []
            console.log('testing')
            var labels = [];
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data){
                    labels = data.labels_graph
                    defaultData = data.default_man_days
                    setChart()
                    console.log(data.default)
                },
                error: function(error_data){
                    console.log("error")
                    console.log(error_data)
                }
            })

            function setChart(){
                var ctx = document.getElementById("myChart");
                var ctx2 = document.getElementById("myChart2");
                var myChart = new Chart(ctx2, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: '# of Votes',
                            data: defaultData,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });

                var myChart = new Chart(ctx, {
                    type: 'polarArea',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: '# of Votes',
                            data: defaultData,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            }
            // var ctx = document.getElementById("myChart");
        {% endblock %}
    </script>
{% endblock %}


