{% extends "base/base_site.html" %}
{% load humanize %}

<title>SAMSON Project Management and Comunication - SPMC | {% block title %} List of companies {% endblock %}</title>
{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">

                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3 align="center" class="green">Project List | <strong class="green-dark">{{ user.userprofile.companies.name }}</strong></h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="x_panel tile footer_fixed">

                                <!-- start project list -->
                                <table class="table table-striped projects">
                                    <thead>
                                    <tr>
                                        <th>PO #</th>
                                        <th>Project Name</th>
                                        <th>Location</th>
                                        <th>Cost USD</th>
                                        <th>Start Date</th>
                                        <th>Finish Date</th>
                                        <th>Complexity</th>
                                        <th>Created By</th>
                                        <th>Action </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        {% if ProjectList %}
                                            {% for project in ProjectList %}

                                                <th scope="row" width="5%"> <span class="badge">{{ project.po}}</span> </th>
                                                <td>
                                                    <a href="{% url 'project:project_detail' project.id %}" data-toggle="tooltip" data-placement="left" title=" View Profile of {{ project.name }}">
                                                        <strong>{{ project.name }}</strong>
                                                    </a>
                                                    <br/>
                                                    <small class="blue">{{ project.general_contractors }}</small>
                                                </td>
                                                <td>{{ project.street_address }} <br/> <small class="green"> {{ project.city_address }}, {{ project.state_address }}, {{ project.zip_code_address }}</small></td>
                                                <td>
                                                    <strong>{{ project.cost|intword  }}</strong> <small>USD</small>
                                                    <br/>
                                                    <small class="green">Project Cost</small>
                                                </td>
                                                <td>
                                                    {{ project.start_date }}
                                                    <br/>
                                                    <small class="green">Expected date</small>
                                                </td>
                                                <td>
                                                    {{ project.finish_date }}
                                                    <br/>
                                                    <small class="green">Expected date</small>
                                                </td>
                                                <td width="10%">

                                                    {% if project.complexity == 'L' %}
                                                        <span class="label label-success pull-center">{{ project.complexity|center:120 }}</span>

                                                    {% else %}
                                                        {% if project.complexity == 'M'  %}
                                                            <span class="label label-warning pull-center">{{ project.complexity|center:120 }}</span>

                                                        {% else %}
                                                            <span class="label label-danger pull-center">{{ project.complexity|center:120 }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <span class="badge" data-placement="left" title="{{ project.create_user }}">{{ project.create_user|truncatechars:12 }}</span>
                                                    <br/>
                                                    <small class="green">
                                                        {{ project.created_at | date:'d M Y H:s A' }}
                                                    </small>
                                                </td>
                                                <td>
                                                    {% if user.id == project.create_user_id or user.userprofile.role is 1 or user.userprofile.role is 4 or user.userprofile.role is 6 %}
                                                        <a href="{% url 'project:project_update' user.userprofile.companies.id project.id user.id %}" class="btn .btn-transperent btn-xs" data-toggle="tooltip" data-placement="left" title=" Edit {{ project.name }}">
                                                            <i class="fa fa-pencil fa-lg"></i></a>
                                                        <a href="{% url 'project:project_detail' project.id %}" class="btn .btn-transparent btn-xs" data-toggle="tooltip" data-placement="left" title=" View Profile of {{ project.name }}">
                                                            <i class="fa fa-eye fa-lg"></i></a>
                                                    {% endif %}

                                                    <!-- FOREMAN -->
                                                    {% if user.userprofile.role is 5 %}
                                                        <a href="{% url 'project:project_detail' project.id %}" class="btn .btn-transparent btn-xs" data-toggle="tooltip" data-placement="left" title=" View Profile of {{ project.name }}">
                                                            <i class="fa fa-eye fa-lg"></i></a>
                                                    {% endif %}

                                                    {% if user.is_staff and user.userprofile.role is 1 %}


                                                        <a href="{% url 'project:project_delete' project.id %}" class="btn .btn-transparent btn-xs" data-toggle="tooltip" data-placement="left" title=" Delete {{ project.name }}">
                                                            <i class="fa fa-trash-o fa-lg"></i></a>

                                                    {% endif %}
                                                    <br/>
                                                </td>
                                                </tr>
                                            {% endfor %}

                                        {% endif %}
                                    </tbody>
                                </table>
                                <!-- end project list -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}
