{% extends "base/base_site.html" %}
{% load crispy_forms_tags %}

{% load mathfilters %}
{% load staticfiles %}
{% load qr_code %}

<title>SAMSON Project Management and Comunication - SPMC | {% block title %} Project Detail {% endblock %}</title>
{% block sidebar_class %}menu_fixed{% endblock sidebar_class %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="title_left">
                        <h3 class=""><i class="fa fa-building-o"></i> {{ project.name }}
                            <small class="blue">
                                | {{ project.street_address}}, {{ project.city_address}}, {{ project.state_address }}
                                {{ project.zip_code_address }}, {{ project.country_address }}
                            </small>

                        </h3>
                    </div>
                </div>

                <div class="x_panel">
                    <div class="x_content">
                        {#                            <ul class="stats-overview full-width">#}
                        <div class="row tile_count">
                            <!-- top information project -->
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-clock-o"></i> Total Project Progress</span>
                                <div class="count" align="center">{{ ProjectManDaysDetail.project_progress }}%</div>
                                <span class="count_bottom">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="progress progress_sm">
                                                {% if ProjectManDaysDetail.project_progress > 100 %}
                                                    <div class="progress-bar bg-red" role="progressbar" data-transitiongoal="{{ ProjectManDaysDetail.project_progress }}"></div>
                                                {% else %}
                                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{ ProjectManDaysDetail.project_progress }}"></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-gear"></i> Total <strong class="green">Man Days Allotted</strong></span>
                                <div class="count green" align="center">{{ ProjectManDaysDetail.man_days_allotted }}</div>
                                {#                                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span>#}
                                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>Total </i> Man Days allotted in Project</span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-gear"></i> Total <strong class="red">Man Days Spent</strong></span>
                                <div class="count red" align="center">{{ ProjectManDaysDetail.man_days_spent }}</div>
                                {#                                    <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>0% </i> From last Week</span>#}
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-gear"></i> Total <strong class="orange">Man Days Remaining</strong></span>
                                <div class="count orange" align="center">{{ ProjectManDaysDetail.man_days_remaining }}</div>
                                {#                                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span>#}
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-bullhorn"></i> Total Contractors</span>
                                <div class="count" align="center">{{ ProjectManDaysDetail.total_contractors }}</div>
                                {#                                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span>#}
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i> Total Employees</span>
                                <div class="count" align="center">{{ ProjectManDaysDetail.total_employees_field }}</div>
                                {#                                    <span class="count_bottom"><i class="green">0% </i> From last Week</span>#}
                            </div>
                            <!-- /top information project -->
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="dashboard_graph">
                                <div class="row x_title">
                                    <div class="col-md-6">
                                        <h3 class="orange"><i class="fa fa-gratipay"> </i> Project Activities</h3>
                                    </div>
                                    {% comment %}<div class="col-md-6">
                                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                                <div class="x_content">
                                                    <form action="{% url 'project:project_detail_date' %}">

                                                        <input class="form-control', 'data-inputmask'="mask="9999-99-99">

                                                        {% csrf_token %}
                                                        {{ form.as_p }}
                                                        <input type="submit">
                                                    </form>

                                                </div>
                                            </div>
                                        </div>{% endcomment %}
                                </div>

                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <canvas id="myChart" style="height:125em; width:400em;"></canvas>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                                    <div class="x_title">
                                        <h2><strong class="blue">PROJECT INFORMATION</strong></h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <h2 class="green"><i class="fa fa-align-justify"></i> Summary</h2>

                                    <p>{{ project.summary }}</p>
                                    <hr>
                                    <h5 class="title green"><i class="fa fa-dot-circle-o"></i> General Information</h5>

                                    <ul class="list-unstyled project_files">
                                        <span class="count_top"><i class="fa fa-gear"></i> Wage Scale: <span class="label label-success pull-center">{{ project.is_wage_scale }}</span></span>
                                        <br/>

                                        <span class="count_top"><i class="fa fa-dollar"></i> Cost: <strong class="blue">{{ project.cost }} <small class="green">USD</small></strong></span><br/>
                                        <span class="count_top"><i class="fa fa-calendar-o"></i> Start: {{ project.start_date}} </span><br/>
                                        <span class="count_top"><i class="fa fa-calendar-o"></i> Finish: {{ project.finish_date}} </span><br/>
                                        {% if project.complexity == 'L' %}
                                            <span class="count_top"><i class="fa fa-circle-o-notch"></i> Complexity: <span class="label label-success pull-center">{{ project.complexity|center:120 }}</span></span>

                                        {% else %}
                                            {% if project.complexity == 'M'  %}
                                                <span class="count_top"><i class="fa fa-circle-o-notch"></i> Complexity: <span class="label label-warning pull-center">{{ project.complexity|center:120 }}</span></span>

                                            {% else %}
                                                <span class="count_top"><i class="fa fa-circle-o-notch"></i> Complexity: <span class="label label-danger pull-center">{{ project.complexity|center:120 }}</span></span>
                                            {% endif %}
                                        {% endif %}
                                        <br/>
                                        <span class="count_top"><i class="fa fa-calendar-o"></i> Created At: {{ project.created_at}} </span><br/>
                                    </ul>
                                    <hr>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="row">
                                <!-- Grafico -->
                            </div>

                            <div class="x_content">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">

                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Schedule</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Activity</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Employees</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab4" data-toggle="tab" aria-expanded="false">Issues</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_content5" role="tab" id="profile-tab5" data-toggle="tab" aria-expanded="false">Signing</a>
                                        </li>
                                    </ul>

                                    <!-- TAB PROJECT MAN DAY SCHEDULE -->
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="x_panel">
                                                        <div class="x_title">
                                                            <h3 align="center" class="green">Man Days Schedule | <strong class="green-dark">{{ project.name }}</strong></h3>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="x_content">
                                                            {% if projectManDayScheduleSelected %}

                                                                <table id="datatable-keytable" class="table table-striped table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>Floor/Phase</th>
                                                                    <th>Labor Type</th>
                                                                    <th>Price (Hrs)</th>
                                                                    <th>Labor Code</th>
                                                                    <th>Material Code</th>
                                                                    <th>Production per Man Day</th>
                                                                    <th>Total Production</th>
                                                                    <th>SUM Produced</th>
                                                                    <th>Man Day Allotted</th>
                                                                    <th>Man Day Spent</th>
                                                                    <th>Day Remaining</th>
                                                                    <th>Estimate Cost</th>
                                                                    <th>Labor Cost</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for cost_code in projectManDayScheduleSelected %}
                                                                    <tr>
                                                                        <th scope="row">{{ cost_code.project_manday_schedules__project_floor_phases__name }}</th>
                                                                        <td class="blue"> <strong>{{ cost_code.project_manday_schedules__cost_codes__name }}</strong></td>

                                                                        <td>$
                                                                            {% if project.is_wage_scale %}
                                                                                {{ cost_code.project_manday_schedules__is_wage_scale }} {{ cost_code.project_manday_schedules__wage_cost }}
                                                                            {% else %}
                                                                                {{ cost_code.project_manday_schedules__is_wage_scale }} {{ cost_code.project_manday_schedules__regular_cost }}
                                                                            {% endif %}
                                                                        </td>

                                                                        <td>{{ cost_code.project_manday_schedules__code_labor }}</td>

                                                                        <td>{{ cost_code.project_manday_schedules__code_material }}</td>
                                                                        <td>{{ cost_code.project_manday_schedules__production }} {{ cost_code.project_manday_schedules__unit }}</td>
                                                                        <td class="blue">{{ cost_code.project_manday_schedules__production|mul:cost_code.project_manday_schedules__man_days_allotted | floatformat:0 }} {{ cost_code.project_manday_schedules__unit }}</td>
                                                                        <td class="green">{{ cost_code.project_production }} {{ cost_code.project_manday_schedules__unit }}</td>
                                                                        <td class="bg-green">{{ cost_code.project_manday_schedules__man_days_allotted }}</td>

                                                                        <td class="bg-red">{{ cost_code.man_days_spent |div:8 }}</td>
                                                                        <td class="bg-blue">{{ cost_code.project_manday_schedules__man_days_allotted |mul:8 | sub:cost_code.man_days_spent |div:8  }}</td>
                                                                        <td width="8%" class="green">
                                                                            {% if project.is_wage_scale %}
                                                                                $ {{ cost_code.project_manday_schedules__man_days_allotted |mul:8 | mul:cost_code.project_manday_schedules__wage_cost  | floatformat:2  }}
                                                                            {% else %}
                                                                                $ {{ cost_code.project_manday_schedules__man_days_allotted |mul:8 | mul:cost_code.project_manday_schedules__regular_cost  | floatformat:2  }}
                                                                            {% endif %}
                                                                        </td>
                                                                        <td width="7%" class="red">
                                                                            {% if project.is_wage_scale %}
                                                                                $ {{ cost_code.project_manday_schedules__wage_cost|mul:cost_code.man_days_spent  | floatformat:2  }}
                                                                            {% else %}
                                                                                $ {{ cost_code.project_manday_schedules__regular_cost|mul:cost_code.man_days_spent  | floatformat:2  }}
                                                                            {% endif %}
                                                                        </td>

                                                                    </tr>
                                                                {% endfor %}

                                                            {% else %}
                                                                <h4 class="red">We have not yet found information in our database of the selected option.</h4>                                                                    {% endif %}
                                                            </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- Fin de MAN DAY SCHEDULE -->

                                        <!-- TAB ACTIVITY EMPLOYEE FIELD-->
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="x_panel">
                                                        <div class="x_title">
                                                            <h3 align="center" class="green">Recent Activity Employee | <strong class="green-dark">{{ project.name }}</strong></h3>
                                                            <div class="clearfix"></div>
                                                        </div>

                                                        {% if projectDailyProduce %}

                                                            <div class="message_wrapper">

                                                                <!-- start Daily Produce list -->
                                                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Photo</th>
                                                                        <th>Employee</th>
                                                                        <th>Floor/Phase</th>
                                                                        <th>Labor</th>
                                                                        <th>Hours</th>
                                                                        <th>Man Days</th>
                                                                        <th>Production MD</th>
                                                                        <th>Production Empl.</th>
                                                                        <th>% Production Empl.</th>
                                                                        <th>Day/Week</th>
                                                                        <th>Date</th>
                                                                    </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                    <!-- end of user messages -->

                                                                    {% for daily_produce_project in projectDailyProduce %}
                                                                        <tr>
                                                                            <th>
                                                                                <!-- Current avatar -->
                                                                                {% if daily_produce_project.project_contractor_employees_field.contractor_employees_field.employees_field.avatar %}
                                                                                    <img class="img-responsive avatar" src="/media/{{ daily_produce_project.project_contractor_employees_field.contractor_employees_field.employees_field.avatar }}" alt="Avatar" title="Change the avatar">
                                                                                {% else %}
                                                                                    <img class="img-responsive avatar" src="/static/images/user-flat.png" alt="Avatar" title="Change the avatar">
                                                                                {% endif %}
                                                                            </th>
                                                                            <th scope="row" class="blue">
                                                                                {{ daily_produce_project.project_contractor_employees_field.contractor_employees_field.employees_field.first_name }} {{ daily_produce_project.project_contractor_employees_field.contractor_employees_field.employees_field.last_name }}
                                                                                <br/>
                                                                                <small class="green">{{ daily_produce_project.project_contractor_employees_field.contractor_employees_field.contractors.name }}</small>
                                                                            </th>
                                                                            <td class="green">
                                                                                {{ daily_produce_project.project_manday_schedules.project_floor_phases.name }}
                                                                            </td>

                                                                            <td class="red">
                                                                                {{ daily_produce_project.project_manday_schedules.name }}
                                                                            </td>

                                                                            <td align="center">
                                                                                <strong>{{ daily_produce_project.work_hours }}</strong>
                                                                            </td>
                                                                            <td  align="right" class="bg-blue-sky">
                                                                                {{ daily_produce_project.work_hours | div:8 | floatformat:2 }}
                                                                            </td>
                                                                            <td align="right" class="bg-green">
                                                                                {{ daily_produce_project.project_manday_schedules.production }}
                                                                                {{ daily_produce_project.project_manday_schedules.unit }}
                                                                            </td>

                                                                            <td align="right" class="bg-blue">
                                                                                {{ daily_produce_project.production }}
                                                                                {{ daily_produce_project.project_manday_schedules.unit }}
                                                                            </td>
                                                                            <td align="right">
                                                                                {{ daily_produce_project.production|div:daily_produce_project.project_manday_schedules.production|mul:100 | floatformat:0}}%
                                                                            </td>
                                                                            <td scope="row" align="center">
                                                                                {{ daily_produce_project.today }}/{{ daily_produce_project.week }}
                                                                            </td>

                                                                            <td>
                                                                                {{ daily_produce_project.created_at | date:'M' }} {{ daily_produce_project.created_at | date:'d' }}/
                                                                                {{ daily_produce_project.created_at | date:'y' }}
                                                                            </td>

                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        {% else %}
                                                            <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- END ACTIVITY EMPLOYEE -->

                                        <!-- LIST OF ALL EMPLOYEES WORKING ON PROJECT -->
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="x_panel">
                                                        <div class="x_title">
                                                            <h3 align="center" class="green">All employees working in | <strong class="green-dark">{{ project.name }}</strong></h3>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="x_content">
                                                            {% if ProjectContractorAssignedEmployeeField %}

                                                                <table id="datatable-fixed-header" class="table table-striped table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th width="8%">QR Code</th>
                                                                    <th>Employee Name</th>
                                                                    <th>Contract Information</th>
                                                                    <th>Contractor</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for project_contractor_employee_assigned in ProjectContractorAssignedEmployeeField %}
                                                                    <tr>
                                                                        <th scope="row">
                                                                            {% qr_from_text project_contractor_employee_assigned.contractor_employees_field.employees_field.employee_field_code size="2" image_format='png' %}
                                                                        </th>
                                                                        <th scope="row">
                                                                            {{ project_contractor_employee_assigned.contractor_employees_field.employees_field.first_name }}
                                                                            {{ project_contractor_employee_assigned.contractor_employees_field.employees_field.last_name }}
                                                                            <br/>
                                                                            <strong class="green">{{ project_contractor_employee_assigned.contractor_employees_field.employees_field.category_employees_field }}</strong>
                                                                        </th>

                                                                        <td>
                                                                            {{ project_contractor_employee_assigned.contractor_employees_field.employees_field.cell_phone_number }}
                                                                            <br/>
                                                                            <strong class="blue">{{ project_contractor_employee_assigned.contractor_employees_field.employees_field.email }}</strong>
                                                                        </td>
                                                                        <td>
                                                                            <strong>{{ project_contractor_employee_assigned.contractor_employees_field.contractors}}</strong> | <small class="green">
                                                                            {{ project_contractor_employee_assigned.contractor_employees_field.contractors.ceo}}
                                                                        </small> | {{ project_contractor_employee_assigned.contractor_employees_field.contractors.phone_number}}

                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}

                                                            {% else %}
                                                                <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                                            {% endif %}
                                                            </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- FLOOR AND PHASES -->

                                        <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="x_panel">

                                                        <div class="x_title">
                                                            <h3 align="center" class="green">Project Issues | <strong class="green-dark">{{ project.name }}</strong></h3>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="x_content">
                                                            <p class="text-muted font-13 m-b-30">
                                                                <!--The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.-->
                                                            </p>
                                                            {% if ProjectFloorPhaseList %}

                                                                <table id="datatable-buttons-2" class="table table-striped table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>Floor or Phase</th>
                                                                    <th>Area</th>
                                                                    <th>Room</th>
                                                                    <th>Project Issues</th>
                                                                    <th>Notes</th>
                                                                </tr>
                                                                </thead>

                                                                <tbody>
                                                                {% for project_floor_phases_list in ProjectFloorPhaseList %}
                                                                    <tr>
                                                                        <th scope="row">{{ project_floor_phases_list.project_floor_phases_area_rooms.project_floor_phases_areas.project_floor_phases.name }}</th>
                                                                        <td>{{ project_floor_phases_list.project_floor_phases_area_rooms.project_floor_phases_areas.name }}</td>
                                                                        <td>{{ project_floor_phases_list.project_floor_phases_area_rooms.name }}</td>
                                                                        <td>{{ project_floor_phases_list.name }}</td>
                                                                        <td width="50%">{{ project_floor_phases_list.notes }} <p> <strong><small> Created at: {{ project_floor_phases_list.created_at }}</small></strong></p></td>

                                                                    </tr>
                                                                {% endfor %}

                                                            {% else %}
                                                                <h4 class="red">We have not yet found information in our database of the selected option.</h4>                                                                {% endif %}
                                                            </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- LIST OF SINGNING SHEET -->
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="profile-tab">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="x_panel">
                                                        <div class="x_title">
                                                            <h3 align="center" class="green">Employee Signing Sheet | <strong class="green-dark">{{ project.name }}</strong></h3>
                                                        </div>
                                                        <div class="x_content">
                                                            {% if ProjectLaborStart %}

                                                                <table id="datatable-fixed-header" class="table table-striped table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Employee Name</th>
                                                                    <th>Contractor</th>
                                                                    <th>Floor/Phase</th>
                                                                    <th>Category</th>
                                                                    <th>Labor</th>
                                                                    <th>Start</th>
                                                                </tr>
                                                                </thead>

                                                                <tbody>
                                                                {% for project_start_work_list in ProjectLaborStart %}
                                                                    <tr>
                                                                        <th scope="row">{{ project_start_work_list.pk }}</th>

                                                                        <th scope="row">{{ project_start_work_list.employee_field_name }}</th>
                                                                        <td>{{ project_start_work_list.contractor_name }}</td>
                                                                        <td>{{ project_start_work_list.floor_phase_name }}</td>
                                                                        <td>{{ project_start_work_list.category_cost_code_name }}</td>
                                                                        <td>{{ project_start_work_list.cost_codes_name }}</td>
                                                                        <td>{{ project_start_work_list.created_at }}</td>

                                                                    </tr>

                                                                {% endfor %}

                                                            {% else %}
                                                                <h4 class="red">We have not yet found information in our database of the selected option.</h4>                                                                    {% endif %}
                                                            </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- start project-detail sidebar -->
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <section class="panel">
                                <!--<div class="x_title">
                                    {% if information.logo %}
                                        <img class="img-responsive img-circle" src="/{{ information.logo }}" alt="Avatar" title="Change the avatar">
                                    {% else %}
                                        <img class="img-responsive avatar-view" src="/static/images/user2.png" alt="Avatar" title="Change the avatar">
                                    {% endif %}
                                    <div class="clearfix"></div>
                                    </div>-->

                                <div class="panel-body">
                                    <div class="project_detail">
                                        <!-- GENERAL CONTRACTING -->
                                        <h5 class="title green"><i class="fa fa-dot-circle-o"></i> General Contracting</h5>
                                        <ul class="list-unstyled project_files">
                                            <li><strong>{{ project.general_contractors }}</strong>
                                                <br/>
                                                <small class="green-dark">
                                                    {{ project.general_contractors.street_address}}, {{ project.general_contractors.city_address}},
                                                    {{ project.general_contractors.state_address }} {{ project.general_contractors.zip_code_address }},
                                                    {{ project.general_contractors.country_address }}
                                                </small></li>
                                        </ul>
                                        <hr>
                                        <!-- TEAM INFORMATION -->
                                        <h5 class="title green"><i class="fa fa-users"></i>
                                            Team Information
                                        </h5>

                                        <ul class="list-unstyled project_files">
                                            {% if ProjectEmployeeTeams %}
                                                {% for project_member in ProjectEmployeeTeams %}

                                                    {% if project_member.is_leader %}
                                                        <li><strong> {{ project_member.employees.first_name }} {{ project_member.employees.last_name }} <span class="label label-success pull-right">Project Leader</span></strong>

                                                            <div class="btn-group">
                                                                <a class="btn btn-default btn-xs" href="tel:+{{ project_member.employees.cell_phone_number }}">
                                                                    <i class="fa fa-phone" title="Call Cell Phone"></i>
                                                                </a>
                                                                <a class="btn btn-default btn-xs" href="mailto:{{ project_member.employees.email }}">
                                                                    <i class="fa fa-inbox" title="Send Email"></i>
                                                                </a>
                                                            </div>

                                                            <br/>
                                                            <small>{{ project_member.employees.category_employees }}</small>
                                                        </li>

                                                    {% else %}

                                                        <li><strong> {{ project_member.employees.first_name }} {{ project_member.employees.last_name }}</strong>
                                                            <div class="btn-group">
                                                                <a class="btn btn-default btn-xs" href="tel:+{{ project_member.employees.cell_phone_number }}">
                                                                    <i class="fa fa-phone" title="Call Cell Phone"></i>
                                                                </a>
                                                                <a class="btn btn-default btn-xs" href="mailto:{{ project_member.employees.email }}">
                                                                    <i class="fa fa-inbox" title="Send Email"></i>
                                                                </a>
                                                            </div>
                                                            <br/>
                                                            <small>{{ project_member.employees.category_employees }}</small>
                                                        </li>

                                                    {% endif %}

                                                {% endfor %}
                                                <br/>
                                                <h5>
                                                    <a href="{% url 'project:project_employee_list' project.id %}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Assign Team"><i class="fa fa-plus-circle"></i> Assign Members</a>
                                                </h5>

                                            {% else %}
                                                <h5>
                                                    <a href="{% url 'project:project_employee_list' project.id %}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Assign Team"><i class="fa fa-plus-circle"></i> Assign Member</a>
                                                </h5>
                                            {% endif %}

                                        </ul>

                                        <hr>
                                        <!-- CONTRACTOR LIST-->
                                        <h5 class="green"><i class="fa fa-road"></i> Contractors</h5>
                                        <table class="table table-striped projects">
                                            <tbody>
                                            {% if ProjectContractorCost %}
                                                {% for project_contractor_list in ProjectContractorCost %}
                                                    <tr>
                                                        <th scope="row"><i class="fa fa-plus-circle"></i>
                                                            {{ project_contractor_list.project_contractor_employees_field__project_contractors__contractors__name }}
                                                        </th>
                                                        <td>$ {{ project_contractor_list.cost | floatformat:2 }} </td>
                                                        <td class="cadetblue"><strong>in</strong></td>
                                                        <td>{{ project_contractor_list.hours|div:8| floatformat:2 }} Mds</td>
                                                    </tr>
                                                {% endfor %}

                                            {% else %}
                                                {% if ProjectContractorList %}
                                                    {% for project_contractor_list in ProjectContractorList %}
                                                        <tr>

                                                            <th scope="row"><i class="fa fa-plus-circle"></i>
                                                                {{ project_contractor_list.contractors.name }}
                                                            </th>
                                                            <td>$ 0 </td>
                                                            <td class="cadetblue"><strong>in</strong></td>
                                                            <td>0 Hrs</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                                {% endif %}
                                            {% endif %}
                                            </tbody>
                                        </table>

                                        <ul class="list-unstyled project_files">
                                            {% if ProjectContractorList %}
                                                {% comment %}                                                {% for contractor_list in ProjectContractorList %}
                                                    <a href="{% url 'project:project_contractor_employee_field_daily_produce_list' project.id contractor_list.contractors.id %}"><li><i class="fa fa-plus-circle"></i> {{ contractor_list.contractors.name }} | <strong>Add Daily Production</strong></li></a>
                                                {% endfor %}{% endcomment %}
                                                <br/>
                                                <a href="{% url 'project:project_contractor_list' project.id %}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Assign Contractors"><i class="fa fa-plus-circle"></i> Assign Contractors</a>
                                            {% else %}
                                                <a href="{% url 'project:project_contractor_list' project.id %}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Assign Contractors"><i class="fa fa-plus-circle"></i> Assign Contractors</a>
                                            {% endif %}

                                        </ul>
                                    </div>
                                    <hr>

                                    <br />
                                    <h5 class="green"><i class="fa fa-gear green"></i> Project Process</h5>

                                    {% if ProjectManDaysDetail.total_floors > 0  %}
                                        <a class="btn btn-default btn-sm" href="{% url 'project:project_floor_phase_list' project.id %}">
                                            <i class="fa fa-plus-square-o fa-lg"></i> Add/Edit Floors <span class="badge badge-inverse">{{ ProjectManDaysDetail.total_floors  }}</span></a>
                                    {% else %}
                                        <a class="btn btn-danger btn-sm" href="{% url 'project:project_floor_phase_list' project.id %}">
                                            <i class="fa fa-plus-square-o fa-lg"></i> Add Floors </a>
                                    {% endif %}

                                    {% if ProjectManDaysDetail.total_man_days > 0  %}
                                        <a class="btn btn-default btn-sm" href="{% url 'project:project_manday_schedule_list' project.id %}">
                                            <i class="fa fa-cog"></i> Add/Edit Man Days <span class="badge badge-info">{{ ProjectManDaysDetail.total_man_days  }}</span></a>
                                    {% else %}
                                        <a class="btn btn-danger btn-sm" href="{% url 'project:project_manday_schedule_list' project.id %}">
                                            <i class="fa fa-cog"></i> Add/Edit Man Days</a>
                                    {% endif %}
                                </div>
                            </section>
                        </div>
                        <!-- end project-detail sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock content %}


{% block javascripts %}
    {{ block.super }}

    <script>
        {% block jquery %}
            var projectId = '{{ project.id }}';
            var endpoint = '/project/'+ projectId.toString()+ '/api/chart/data/';
            var defaultData = [];
            var labelsGraph = [];
            var defaultManDays = [];
            var defaultProjectCost = [];

            $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data){
                    labelsGraph = data.labels_graph;
                    defaultManDays = data.default_man_days;
                    defaultProjectCost = data.default_project_cost;

                    setChart();
                    console.log(data.default)

                },
                error: function(error_data){
                    console.log(error_data)
                }
            });

            function setChart() {
                var ctx = document.getElementById("myChart");

                Chart.defaults.global.defaultFontFamily = "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
                Chart.defaults.global.defaultFontSize = 12;

                var densityData = {
                    label: 'Man Days per Day',
                    data: defaultManDays,
                    yAxisID: "y-axis-density",
                    backgroundColor: '#34495e'
                };

                var gravityData = {
                    label: 'Cost per Day',
                    data: defaultProjectCost,
                    yAxisID: "y-axis-gravity",
                    backgroundColor: '#26b99a'
                };

                var planetData = {
                    labels: labelsGraph,
                    datasets: [densityData, gravityData]
                };

                var chartOptions = {
                    title: {
                        display: true,
                        text: ' Chart Man Days vs Cost Per Day',
                        fontSize: 24,
                        fontColor: "#26b99a",
                        margin: 1,
                        padding: 2
                    },
                    legend: {
                        horizontalAlign: "left", // "center" , "right"
                        verticalAlign: "center",  // "top" , "bottom"
                        fontSize: 15
                    },
                    scales: {
                        xAxes: [
                            {
                                barPercentage: 1,
                                categoryPercentage: 0.6,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Labor Days',
                                    fontColor: '#26b99a',
                                    fontStyle: "bold"
                                }
                            }],
                        yAxes: [{
                            id: "y-axis-density",
                            scaleLabel: {
                                display: true,
                                labelString: 'Project Man Day',
                                fontColor: '#26b99a',
                                fontStyle: "bold"
                            },
                            ticks: {
                                beginAtZero:true
                            }
                        }, {
                            id: "y-axis-gravity",
                            scaleLabel: {
                                display: true,
                                labelString: 'Project Cost',
                                fontColor: '#26b99a',
                                fontStyle: "bold"
                            },
                            ticks: {
                                beginAtZero:true
                            }

                        }]
                    }
                };

                var barChart = new Chart(ctx, {
                    type: 'bar',
                    data: planetData,
                    options: chartOptions
                });
                barChart.render();

            }

        {% endblock %}
    </script>
    <!-- ECharts -->
    {#    <script src="/static/vendors/echarts/dist/echarts.min.js"></script>#}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}

