{% extends "base/base_site.html" %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block content %}
    <div class="right_col" role="main">
        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2><i class="fa fa-gear"></i> <strong>Project module</strong></h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right" align="right">
                <a class="btn btn-warning" href="{% url 'project:project_list' user.userprofile.companies.id  user.id %}"> Cancel</a>
            </div>
        </div>
        <!-- End Top Title-->

        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            {% if project.id  %}
                                <h2>Edit Project<small>different form elements</small></h2>
                            {% else %}
                                <h2><strong class="green">Create Project</strong><small></small></h2>

                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super}}
    <!-- Ion.RangeSlider -->
    <script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- Bootstrap Colorpicker -->
    <script src="/static/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- jquery.inputmask -->
    <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- jQuery Knob -->
    <script src="/static/vendors/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- Cropper -->
    <script src="/static/vendors/cropper/dist/cropper.min.js"></script>
    <!-- validator -->
    <script src="/static/vendors/validator/validator.js"></script>

    {#  Calendario Picker#}
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css"
          media="all" rel="stylesheet" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/monim67/django-bootstrap-datepicker-plus/master/bootstrap_datepicker_plus/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>
    {#  End Calendario Picker#}


    <script type="text/javascript">

        $(function () {
            $('#start_date').datetimepicker({
                format:'L',
                format:'YYYY-MM-DD',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
            $('#finish_date').datetimepicker({
                format:'L',
                format:'YYYY-MM-DD',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });

        });

    </script>
{% endblock javascripts %}



