{% extends "base/base_site.html" %}
{% load mathfilters %}

{% block title %} Company Dashboard  {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class="green"><i class="fa fa-building-o"></i> Company <strong>Dashboard</strong></h3>
            </div>
        </div>
        <!-- End Top Title-->

        <div class="">
            <div class="x_panel">
                <!-- top tiles -->
                <div class="row tile_count">
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-building-o"></i> Total <strong class="blue">Projects</strong></span>
                        <div class="count" align="center"><strong class="blue">{{ CompanyDetail.total_projects }}</strong></div>
                        <span class="count_bottom"> <strong> </strong></span>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-clock-o"></i> Total <strong>Man Days Allotted</strong></span>

                        <div class="count" align="center"><strong>{{ CompanyDetail.man_days_allotted }}</strong><small style="font-size:0.6vw;"> MDS</small></div>
                        <span class="count_bottom"></span>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Total <strong class="red">Man Days Spent</strong></span>

                        <div class="count red" align="center"><strong>{{ CompanyDetail.man_days_spent }}</strong><small style="font-size:0.6vw;"> MDS</small></div>
                        <span class="count_bottom"></span>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Total <strong>Cost Man Days Allotted</strong></span>
                        <div class="count" align="center"><strong>{{ CompanyDetail.total_cost_man_days_alloted| floatformat:2 }}</strong> <small style="font-size:0.6vw;">USD</small></div>
                        <span class="count_bottom"></span>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Total <strong class="green">Cost Man Days Spent</strong></span>
                        <div class="count green" align="center"> <strong>{{ CompanyDetail.total_cost_man_days_spend | floatformat:2 }}</strong> <small style="font-size:0.6vw;">USD</small></div>

                        <span class="count_bottom"></span>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-gear"></i> Total <strong class="orange">hours worked</strong></span>

                        <div class="count orange" align="center" ><strong>{{ CompanyDetail.total_works_hours | floatformat:2 }}</strong><small style="font-size:0.6vw;"> HRS</small></div>
                        <span class="count_bottom"></span>
                    </div>
                </div>
            </div>
            <!-- /top tiles -->

            <!-- PANEL GRAFICO -->
            <div class="x_panel">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="container">
                            <h3 class="orange" style="font-size:1.8vm;"><i class="fa fa-gratipay"></i> <strong>Projects Activities</strong> In Our Company</h3>
                            <br/>

                            <!-- TAB PARA GRAFICOS-->
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Chart Man Days vs Cost</a></li>
                                <li><a data-toggle="tab" href="#menu1">Chart Total Man Days vs Total Cost</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">
                                    <br/>
                                    <!-- PRIMER GRAFICO -->
                                    <div class="dashboard_graph">
                                        <div class="row x_title">
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <canvas id="myChart1" height="100%"></canvas>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                                            <div class="x_title">
                                                <h2 class="blue"><i class="fa fa-product-hunt"></i> Projects Performance</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            {% if CompanyContractor %}
                                                <div class="col-md-12 col-sm-12-col-xs-12">
                                                    <div>
                                                        <ul class="list-unstyled top_profiles scroll-view">
                                                            {% for company_list in CompanyProjects %}
                                                                <li class="media event">
                                                                    <a class="pull-left border-aero profile_thumb">
                                                                        <i class="fa fa-building-o aero"></i>
                                                                    </a>
                                                                    <div class="media-body">
                                                                        <a class="title green" href="{% url 'project:project_detail' company_list.project_contractor_employees_field__project_contractors__projects__id %}">{{ company_list.project_contractor_employees_field__project_contractors__projects__name }} <span class="badge">{{ company_list.project_contractor_employees_field__project_contractors__projects__po }}</span></a>
                                                                        <p><strong>${{ company_list.cost | floatformat:2 }}. </strong> Cost total spend unitl today </p>
                                                                        <p><small><strong class="blue">{{ company_list.hours|div:8 }}</strong> Mandays until today </small>
                                                                        </p>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}

                                                        </ul>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="clearfix"></div>
                                    </div> <!-- FIN PRIMER GRAFICO-->
                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <!-- SEGUNDO GRAFICO -->
                                    <div class="dashboard_graph">
                                        <div class="row x_title">
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <canvas id="myChart2" height="100%"></canvas>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                                            <div class="x_title">
                                                <h2 class="blue"></i> Projects Performance</h2>
                                                <div class="clearfix"></div>
                                            </div>

                                            {% if CompanyProjects %}
                                                {% for company_list in CompanyProjects %}
                                                    <div class="widget_summary">
                                                        <div class="w_left w_55">
                                                            <small><span>{{ company_list.project_contractor_employees_field__project_contractors__projects__name }} </span></small>
                                                        </div>
                                                        <div class="w_left w_55">
                                                            <div class="progress">
                                                                <div class="progress-bar bg-green btn-round" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ company_list.hours }}%;">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="full-width">
                                                            <div class="progress">

                                                                {% if company_list.cost_wage_scale and  company_list.regular_cost %}
                                                                    <span class="label label-warning pull-center">{{ company_list.regular_cost|add:company_list.cost_wage_scale| floatformat:2 }} </span>USD in <strong class="blue">{{ company_list.hours|div:8 }} Mds</strong>
                                                                {% else %}
                                                                    {% if company_list.cost_wage_scale %}

                                                                        <span class="label label-warning pull-center">${{ company_list.cost_wage_scale | floatformat:2 }}</span> in <strong class="blue">{{ company_list.hours|div:8 }} Mds</strong>
                                                                    {% else %}
                                                                        <span class="label label-warning pull-center">${{ company_list.regular_cost | floatformat:2 }}</span> in <strong class="blue">{{ company_list.hours|div:8 }} Mds</strong>

                                                                    {% endif %}

                                                                {%  endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}

                                        </div>
                                        <div class="clearfix"></div>
                                    </div> <!-- FIN SEGUNDO GRAFICO-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN PANEL GRAFICO -->

            <!-- REPOSITORIOS -->
            <div class="x_panel">
                <div class="row">
                    {# CONTRACTORS INFORMATION#}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel tile fixed_height_320">
                            <div class="x_title">
                                <h2><strong> Contractors </strong>| Man Days and Cost</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                {#            <h4>App Usage across versions</h4>#}
                                {% if CompanyContractor %}
                                    {% for contractor_list in CompanyContractor %}

                                        <div class="widget_summary">
                                            <div class="w_left w_55">
                                                <span>{{ contractor_list.project_contractor_employees_field__project_contractors__contractors__name }} </span>
                                            </div>

                                            <div class="full-width" align="left">
                                                <div class="progress">
                                                    <span class="badge">{{ contractor_list.cost | floatformat:2 }} <small>USD</small> in <strong class="green">{{ contractor_list.hours|div:8|floatformat:2 }} MDS</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div> <!-- Contractor -->

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel tile fixed_height_320">
                            <div class="x_title">
                                <h2><strong> Category Labor</strong> | Man Days and Cost</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                {% if CompanyCategoryLabor %}
                                    {% for company_category_labor_list in CompanyCategoryLabor %}


                                        <div class="widget_summary">
                                            <div class="w_left w_55">
                                                <span>{{ company_category_labor_list.project_manday_schedules__cost_codes__category_cost_codes__name }} </span>
                                            </div>

                                            <div class="full-width" align="left">
                                                <div class="progress">
                                                    <span class="badge">{{ company_category_labor_list.cost | floatformat:2 }} <small>USD</small> in <strong class="green">{{ company_category_labor_list.hours|div:8| floatformat:2 }} MDs</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div> <!-- Contractor -->

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel tile fixed_height_320">
                            <div class="x_title">
                                <h2><strong> Category Employee Field</strong> | Man Days and Cost</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                {#            <h4>App Usage across versions</h4>#}
                                {% if CompanyCategoryEmployeeField %}
                                    {% for category_employee_field_list in CompanyCategoryEmployeeField %}


                                        <div class="widget_summary">
                                            <div class="w_left w_55">
                                                <small><span>{{ category_employee_field_list.project_contractor_employees_field__contractor_employees_field__employees_field__category_employees_field__name }} </span></small>
                                            </div>
                                            <div class="full-width" align="left">
                                                <div class="progress">
                                                    <small><span class="badge">{{ category_employee_field_list.cost | floatformat:2 }} <small>USD</small>  in <strong class="green">{{ category_employee_field_list.hours|div:8| floatformat:2 }} MDs</strong></span></small>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div> <!-- Contractor -->
                </div>
            </div>
            <div class="x_panel">
                {#            <a class="weatherwidget-io" href="https://forecast7.com/en/38d91n77d03/20005/" data-label_1="{{ user.userprofile.companies.city_address }}" data-label_2="WEATHER" data-theme="original" > Washington DC WEATHER</a>#}
                <a class="weatherwidget-io" href="https://forecast7.com/en/38d91n77d03/20005/?unit=us" data-label_1="Washington, DC" data-label_2="WEATHER" data-theme="original" > Washington DC WEATHER</a>
            </div>
        </div>
        <!-- FIN REPOSITORIO -->
    </div>


{% endblock content %}

{% block javascripts %}
    {{ block.super }}

    <script>
        {% block jquery %}
            var companyId = '{{ user.userprofile.companies.id }}';
            var endpoint = '/company/'+ companyId.toString()+ '/api/chart/data/';
            var defaultData = [];
            var labelsGraph = [];
            var defaultManDays = [];
            var defaultProjectCost = [];
            var labelsGraphPie = [];
            var chart_graph_pie = [];

            $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data){
                    labelsGraph = data.labels_graph;
                    defaultManDays = data.default_man_days;
                    defaultProjectCost = data.default_project_cost;

                    setChart1();
                    console.log(data.default)

                },
                error: function(error_data){
                    console.log(error_data)
                }
            });

            function setChart1()
            {
                var ctx1 = document.getElementById("myChart1");

                Chart.defaults.global.defaultFontFamily = "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
                Chart.defaults.global.defaultFontSize = 11;

                var densityData = {
                    label: 'Man Days per Day',
                    data: defaultManDays,
                    bordeColor: "white",
                    yAxisID: "y-axis-density",
                    backgroundColor: '#34495e',
                    borderWidth:2,
                    border:10
                };

                var gravityData = {
                    label: 'Cost per Day',
                    data: defaultProjectCost,
                    yAxisID: "y-axis-gravity",
                    backgroundColor: '#26b99a',
                    borderWidth:2,
                    border:10
                };

                var planetData = {
                    labels: labelsGraph,
                    datasets: [densityData, gravityData]
                };

                var chartOptions = {
                    title: {
                        display: true,
                        text: 'Chart Man Days vs Cost Per Projects',
                        fontSize: 18,
                        fontColor: "#26b99a",
                        margin: 1,
                        padding: 2
                    },
                    legend: {
                        horizontalAlign: "left", // "center" , "right"
                        verticalAlign: "center",  // "top" , "bottom"
                        fontSize: 15
                    },
                    scales: {
                        xAxes: [
                            {
                                barPercentage: 1,
                                categoryPercentage: 0.6,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Project #PO',
                                    fontColor: '#26b99a',
                                    fontStyle: "bold"
                                }
                            }],
                        yAxes: [{
                            id: "y-axis-density",
                            scaleLabel: {
                                display: true,
                                labelString: 'Comapany Man Days',
                                fontColor: '#26b99a',
                                fontStyle: "bold"
                            },
                            ticks: {
                                beginAtZero:true
                            }
                        }, {
                            id: "y-axis-gravity",
                            scaleLabel: {
                                display: true,
                                labelString: 'Company Cost',
                                fontColor: '#26b99a',
                                fontStyle: "bold"
                            },
                            ticks: {
                                beginAtZero:true
                            }

                        }]
                    }
                };

                var barChart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: planetData,
                    options: chartOptions
                });
                barChart1.render();

            }

            {# Segundo Grafico #}
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data){
                    labelsGraphPie = data.labels_graph_pie;
                    chart_graph_pie = data.chart_graph_pie;

                    setChart2();
                    console.log(data.default)

                },
                error: function(error_data){
                    console.log(error_data)
                }
            });

            function setChart2()
            {
                var ctx2 = document.getElementById("myChart2");

                Chart.defaults.global.defaultFontFamily = "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
                Chart.defaults.global.defaultFontSize = 11;

                var densityData = {
                    label: 'Man Days per Day',
                    data: chart_graph_pie,
                    borderWidth:3,
                    bordeColor: "white",
                    yAxisID: "y-axis-density"
                };

                var planetData = {
                    labels: labelsGraphPie,
                    datasets: [densityData]
                };

                var chartOptions = {
                    fillStyle: "#A45678",
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Chart Cost Man Days Allotted vs Cost Man Days Spend',
                        fontSize: 18,
                        fontColor: "#26b99a",
                        margin: 1,
                        padding: 2
                    },
                    legend: {
                        horizontalAlign: "center", // "center" , "right"
                        verticalAlign: "top",  // "top" , "bottom"
                        fontSize: 15,
                    }
                };

                var barChart2 = new Chart(ctx2, {
                    type: 'pie',
                    data: planetData,
                    options: chartOptions
                });
                barChart2.render();

            }
        {% endblock %}
    </script>

    <!-- ECharts -->
    {% comment %}
    <script src="/static/vendors/echarts/dist/echarts.min.js"></script>
{% endcomment %}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- PNotify -->
    {#    <script src="/static/vendors/pnotify/dist/pnotify.js"></script>#}
    <script src="/static/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>
{% endblock javascripts %}

