{% extends "base/base_site.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <!-- Animate.css -->
    <link href="/static/vendors/animate.css/animate.min.css" rel="stylesheet">
    <style type="text/css">
        #crop {
            overflow: hidden;

            position: absolute;
            left: 100px;
            top: 100px;

            width: 450px;
            height: 150px;
        }

        #overlay {
            -webkit-filter:blur(4px);
            filter:blur(4px);
            width: 450px;
        }

        #source {
            height: 100px;
            width: auto;
            position: absolute;
            left: 100px;
            top: 100px;
        }
    </style>
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
    <body onload="randomHero();">
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">About</label>

            <div class="login-form">
                <form method="post">
                    {% csrf_token %}
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input name="username" id="user" type="text" class="input" id="overlay">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input name="password" id="pass" type="password" class="input" data-type="password">
                        </div>
                        {#                        <div class="group">#}
                        {#                            <input id="check" type="checkbox" class="check" checked>#}
                        {#                            <label for="check"><span class="icon"></span> Keep me Signed in</label>#}
                        {#                        </div>#}
                        <div class="group">
                            <input type="submit" class="button" value="Sign In">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            {#                            <a href="#forgot">Forgot Password?</a> #}
                            <br/>
                            <img src="/static/images/samson-logo-v3.png" alt="SAMSON Logo" class="img-responsive"></h1>
                            <br/>
                            <p><small>© 2018 All Rights Reserved. Dynamic Contracting Inc.</small></p>
                        </div>
                    </div>
                    <div class="sign-up-htm">
                        <div class="group">
                            <h2 align="center" class="green">SAMSON v1.0</h2>
                            <p class="animated">
                                "SAMSON" Communication and information is the driving force of our business and the industry, The Samson software is a software with the equal amount of power that the name itself brings, that will facilitate the communication of a subcontractor in the finishes division within its organization from office to field to general contractor to customer.
                            </p>
                            <p> Save time, save steps, eliminate redundancy and finally save money.</p>
                            <p class="blue">by: Enoc Parada.</p>
                        </div>

                        {% comment %}<div class="sign-up-htm">
                                                                                                               <div class="group">
                                                                                                                   <label for="user" class="label">Username</label>
                                                                                                                   <input id="user" type="text" class="input">
                                                                                                               </div>
                                                                                                               <div class="group">
                                                                                                                   <label for="pass" class="label">Password</label>
                                                                                                                   <input id="pass" type="password" class="input" data-type="password">
                                                                                                               </div>
                                                                                                               <div class="group">
                                                                                                                   <label for="pass" class="label">Repeat Password</label>
                                                                                                                   <input id="pass" type="password" class="input" data-type="password">
                                                                                                               </div>
                                                                                                               <div class="group">
                                                                                                                   <label for="pass" class="label">Email Address</label>
                                                                                                                   <input id="pass" type="text" class="input">
                                                                                                               </div>
                                                                                                               <div class="group">
                                                                                                                   <input type="submit" class="button" value="Sign Up">
                                                                                                               </div>
                                                                                                               <div class="hr"></div>
                                                                                                               <div class="foot-lnk">
                                                                                                                   <label for="tab-1">Already Member?</label>
                                                                                                               </div>
                                                                                                           </div>{% endcomment %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {#    <div>#}
    {#        <a class="hiddenanchor" id="signup"></a>#}
    {#        <a class="hiddenanchor" id="signin"></a>#}
    {##}
    {#        <div class="login_wrapper">#}
    {#            <div class="animate form login_form"  style="background: #00caff">#}
    {#                <section class="login_content">#}
    {#                    <form method="post">#}
    {#                        {% csrf_token %}#}
    {#                        <h3 style="font-style: normal;color: #f3f3f3">User Login</h3>#}
    {#                        <br/>#}
    {#                        <div>#}
    {#                            <input name="username" type="text" class="form-control" placeholder="Username" required="" />#}
    {#                        </div>#}
    {#                        <div>#}
    {#                            <input name="password" type="password" class="form-control" placeholder="Password" required="" />#}
    {#                        </div>#}
    {#                        <div>#}
    {#              <a class="btn btn-default submit" href="index.html">Log in</a>#}
    {#                            <button class="btn btn-info "type="submit"> Log In </button>#}
    {##}
    {#                                          <a class="reset_pass" href="#">Lost your password?</a>#}
    {##}
    {#                        </div>#}
    {##}
    {#                        <div class="clearfix"></div>#}
    {##}
    {#                        <div class="separator">#}
    {#                            <p class="change_link">New to site?#}
    {#                <a href="#signup" class="to_register"> Create Account </a>#}
    {#              </p>#}
    {##}
    {#                            <div class="clearfix"></div>#}
    {#                            <br />#}
    {##}
    {#                            <div>#}
    {#                                <h1><img src="/static/images/samson-logo.png" alt="" width="300px" height="145px"></h1>#}
    {#                                <h5 style="font-style: normal;color: #f3f3f3">©2017 All Rights Reserved. Dynamic Contractin Inc.</h5>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </form>#}
    {#                </section>#}
    {#            </div>#}
    {##}
    {#            <div id="register" class="animate form registration_form">#}
    {#        <section class="login_content">#}
    {#          <form>#}
    {#            <h1>Create Account</h1>#}
    {#            <div>#}
    {#              <input type="text" class="form-control" placeholder="Username" required="" />#}
    {#            </div>#}
    {#            <div>#}
    {#              <input type="email" class="form-control" placeholder="Email" required="" />#}
    {#            </div>#}
    {#            <div>#}
    {#              <input type="password" class="form-control" placeholder="Password" required="" />#}
    {#            </div>#}
    {#            <div>#}
    {#              <a class="btn btn-default submit" href="index.html">Submit</a>#}
    {#            </div>#}
    {##}
    {#            <div class="clearfix"></div>#}
    {##}
    {#            <div class="separator">#}
    {#              <p class="change_link">Already a member ?#}
    {#                <a href="#signin" class="to_register"> Log in </a>#}
    {#              </p>#}
    {##}
    {#              <div class="clearfix"></div>#}
    {#              <br />#}
    {##}
    {#              <div>#}
    {#                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>#}
    {#                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </form>#}
    {#        </section>#}
    {#      </div>#}
    {#        </div>#}
    {#    </div>#}

    </body>
    {% block javascripts %}
        {{ block.super}}
        <script type="text/javascript">
            function randomHero() {
                var heroPics = [
                    '/static/images/login/1.jpg',
                    '/static/images/login/2.jpg',
                    '/static/images/login/3.jpg',
                    '/static/images/login/4.jpg',
                    '/static/images/login/5.jpg',
                    '/static/images/login/6.jpg'
                ];

                $('body').css({
                    'background' : 'url('+ heroPics[Math.floor(Math.random() * heroPics.length)] + ') no-repeat center center fixed',
                    'background-attachment' : 'scroll',
                    'background-position' : '50% 50%',
                    'background-size' : 'cover'
                });
            }
        </script>


    {% endblock javascripts %}
{% endblock body %}

