{% extends "base/base_site.html" %}
<title>SAMSON Project Management and Comunication - SPMC | {% block title %} List of Contractor {% endblock %}</title>

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2><i class="fa fa-road"></i> <strong> Database of Contractors</strong></h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right" align="right">
                <a class="btn btn-info" href="{%  url 'contractor:contractor_create' user.userprofile.companies.id %}">
                    Create
                </a>
            </div>
        </div>
        <!-- End Top Title-->

        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3 align="center" class="green">List of Contractors | <strong class="green-dark">{{ user.userprofile.companies.name }}</strong></h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30">
                            </p>
                            <table style="border-bottom-right-radius: unset" id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead >
                                <tr>
                                    <th>Contractor Name</th>
                                    <th>CEO</th>
                                    <th>President</th>
                                    <th>Contact Information</th>
                                    <th># Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if contractorList %}
                                    {% for contractor in contractorList %}
                                        <tr>
                                            <td scope="row">
                                                <strong>{{ contractor.name }} </strong></br>
                                                <small class="green">{{ contractor.street_address }}, {{ contractor.city_address }}, {{ contractor.state_address }}</small>
                                            </td>
                                            <td>{{ contractor.ceo }}</td>
                                            <td>{{ contractor.president }}</td>

                                            <td>
                                                {{ contractor.phone_number }},  Ext. {{ contractor.phone_number_ext }} </br>
                                                <small class="blue">{{ contractor.email }}</small>

                                            </td>
                                            <td>
                                                {%  if  user.is_staff and user.userprofile.role is 1 %}
                                                    <a href="{% url 'contractor:contractor_update' user.userprofile.companies.id contractor.id %}" class="btn .btn-transparent btn-sm"><i class="fa fa-pencil fa-lg"></i></a>
                                                    <a href="{% url 'contractor:contractor_delete' user.userprofile.companies.id contractor.id %}" class="btn .btn-transparent btn-sm"><i class="fa fa-trash-o fa-lg"></i></a>
                                                {% endif %}
                                                <a href="{%  url 'contractor:contractor_detail' user.userprofile.companies.id contractor.id %}" class="btn .btn-transparent  btn-xs"><i class="fa fa-eye fa-lg"></i> </a>

                                            </td>
                                        </tr>
                                    {% endfor %}

                                {% else %}
                                    <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

{% endblock javascripts %}
