{% extends "base/base_site.html" %}
<title>SAMSON Project Management and Comunication - SPMC | {% block title %} Project Detail {% endblock %}</title>

{% block sidebar_class %}menu_fixed{% endblock sidebar_class %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class=""><i class="fa fa-building-o"></i> {{ project.name }}
                    {{ contractor.name }} | <small class="blue"> {{ contractor.street_address}}, {{ contractor.city_address}}, {{ contractor.state_address }} {{ contractor.zip_code_address }}, {{ contractor.country_address }}</small></h3>
                </h3>
            </div>
        </div>
        <!-- End Top Title-->


        <div class="">
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">

                            <div class="x_content">

                                <div class="col-md-9 col-sm-9 col-xs-12">

                                    <ul class="stats-overview full-width">
                                        <!-- top information project -->
                                        <div class="row tile_count">
                                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                                <span class="count_top"><i class="fa fa-clock-o"></i> Total Projects</span>
                                                <div class="count" align="center">{{ ContractorDetail.total_projects }}</div>

                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                                <span class="count_top"><i class="fa fa-gear"></i> Total <strong class="green"> Man Days</strong></span>
                                                <div class="count green" align="center" style="font-max-size: medium">{{ ContractorDetail.total_man_days| floatformat:2}}</div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                                <span class="count_top"><i class="fa fa-gear"></i> Total <strong class="red">Cost in Projects</strong></span>
                                                <div class="count red" align="center" style="font-max-size:  3vw;">{{ ContractorDetail.total_cost_man_days_spend| floatformat:2}}</div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                                <span class="count_top"><i class="fa fa-gear"></i> Total <strong class="orange">Production Esperada</strong></span>
                                                <div class="count orange" align="center">{{ ContractorDetail.man_days_remaining }}</div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                                <span class="count_top"><i class="fa fa-bullhorn"></i> Total Production Ejecutada</span>
                                                <div class="count" align="center">{{ ContractorDetail.total_contractors }}</div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                                <span class="count_top"><i class="fa fa-user"></i> Total Employees</span>
                                                <div class="count" align="center">{{ContractorDetail.total_employees_field}}</div>
                                            </div>
                                            <!-- /top information project -->
                                        </div>
                                    </ul>

                                    <br />
                                    <!-- GRAFICO CONTRACTOR -->
                                    {#                                <div id="mainb" style="height:350px;"></div>#}
                                    <canvas id="myChart" style="height:125em; width:400em;"></canvas>

                                    <div class="x_content">

                                        <div class="" role="tabpanel" data-example-id="togglable-tabs">

                                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                {% comment %}                                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Last Activity</a>
                                            </li>{% endcomment %}
                                                <li role="presentation" class="active"><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="true">Projects</a>
                                                </li>

                                                <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Employees Fields</a>
                                                </li>
                                            </ul>

                                            <div id="myTabContent" class="tab-content">
                                                {% comment %}                           <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                                <div class="x_title">
                                                    <h3 align="center" class="green">Recent Activity | <strong class="green-dark">{{ project.name }}</strong></h3>
                                                    <div class="clearfix"></div>
                                                </div>

                                                                                                <div>
                                                    <h4>Recent Activity</h4>
                                                    <!-- end of user messages -->
                                                    <ul class="messages">
                                                        <li>
                                                            <img src="/static/images/img.jpg" class="avatar" alt="Avatar">
                                                            <div class="message_date">
                                                                <h3 class="date text-info">24</h3>
                                                                <p class="month">May</p>
                                                            </div>
                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Desmond Davison</h4>
                                                                <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                                <br />
                                                                <p class="url">
                                                                    <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                                    <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                                                </p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img src="/static/images/img.jpg" class="avatar" alt="Avatar">
                                                            <div class="message_date">
                                                                <h3 class="date text-error">21</h3>
                                                                <p class="month">May</p>
                                                            </div>
                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Brian Michaels</h4>
                                                                <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                                <br />
                                                                <p class="url">
                                                                    <span class="fs1" aria-hidden="true" data-icon=""></span>
                                                                    <a href="#" data-original-title="">Download</a>
                                                                </p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img src="/static/images/img.jpg" class="avatar" alt="Avatar">
                                                            <div class="message_date">
                                                                <h3 class="date text-info">24</h3>
                                                                <p class="month">May</p>
                                                            </div>
                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Desmond Davison</h4>
                                                                <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                                <br />
                                                                <p class="url">
                                                                    <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                                    <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <!-- end of user messages -->
                                                </div><!-- Fin de Actividades Recientes-->
                                            </div><!-- Fin de TAB Home-->{% endcomment %}

                                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="profile-tab">
                                                    <!-- <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                                                         booth letterpress, commodo enim craft beer mlkshk aliquip</p>-->
                                                    <div class="x_title">
                                                        <h3 align="center" class="green">Projects Assigned for | <strong class="green-dark">{{ contractor.name }}</strong></h3>
                                                        {#                                                    <div class="clearfix"></div>#}
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="x_panel">
                                                                {% comment %}<div class="x_title">
                                                                <h5 class="blue">List of Projects on {{ contractor.name }} </h5>{% endcomment %}
                                                                {% comment %}                                                                <!--<small>(List of active projects)</small>
                                                                <ul class="nav navbar-right panel_toolbox">
                                                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                                    </li>
                                                                    <li class="dropdown">
                                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                                        <ul class="dropdown-menu" role="menu">
                                                                            <li><a href="#">Settings 1</a>
                                                                            </li>
                                                                            <li><a href="#">Settings 2</a>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                                                    </li>
                                                                </ul>
                                                                <div class="clearfix"></div>-->{% endcomment %}
                                                                {% comment %}
                                                            </div>
{% endcomment %}
                                                                <div class="x_content">
                                                                    <!--                                                            <p class="text-muted font-13 m-b-30">
                                                                                                                                    sadfsdfs Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
                                                                                                                                </p>-->
                                                                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>ID</th>
                                                                            <th>Project Name</th>
                                                                            <th>PO #</th>
                                                                            <th>Phone Number</th>
                                                                            <th>Email</th>
                                                                            <th># Process</th>

                                                                        </tr>
                                                                        </thead>

                                                                        <tbody>
                                                                        {% if ProjectContractorList %}
                                                                            {% for project_contractor_list in ProjectContractorList %}
                                                                                <tr>
                                                                                    <th scope="row">{{ project_contractor_list.pk }}</th>

                                                                                    <th scope="row">{{ project_contractor_list.projects.name }}</th>
                                                                                    <td>{{ project_contractor_list.projects.po }}</td>
                                                                                    <td>{{ contractor.phone_number }}</td>
                                                                                    <td>{{ contractor.email }}</td>
                                                                                    <td>
                                                                                        <!--<a href="" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>-->
                                                                                        <a href="{% url 'project:project_contractor_employee_field_list' project_contractor_list.id contractor.id %}" class="btn .btn-transparent btn-xs green"><i class="fa fa-gear fa-lg"></i>  </a>
                                                                                    </td>
                                                                                </tr>
                                                                            {% endfor %}

                                                                        {% else %}
                                                                            <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                                                        {% endif %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                                                    <!--                                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                                                                                                    booth letterpress, commodo enim craft beer mlkshk aliquip</p>-->



                                                    <div class="x_title">
                                                        <h3 align="center" class="green">Employees Field in | <strong class="green-dark">{{ contractor.name }}</strong></h3>
                                                        {#                                                    <div class="clearfix"></div>#}
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="x_panel">
                                                                {% comment %}                                                            <div class="x_title">
                                                                <h2>List of Employees<small>(List of registered employee)</small></h2>
                                                                <ul class="nav navbar-right panel_toolbox">
                                                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                                    </li>
                                                                    <li class="dropdown">
                                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                                        <ul class="dropdown-menu" role="menu">
                                                                            <li><a class="btn btn-info" href="{%  url 'contractor:employee_field_create' contractor.id %}">
                                                                                Create</a></a>
                                                                            </li>
                                                                            <li><a href="{%  url 'contractor:contractor_employee_field_list' contractor.id %}">Employee Field List</a>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                                                    </li>
                                                                </ul>
                                                                <div class="clearfix"></div>
                                                            </div>{% endcomment %}
                                                                <div class="x_content">
                                                                    <table id="datatable-keytable" class="table table-striped table-bordered">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Employee Code</th>
                                                                            <th>Employee Name</th>
                                                                            <th>Contact Information</th>
                                                                            <th># Process</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {% if ContractorEmployeeFieldList %}
                                                                            {% for contractor_employee_field in ContractorEmployeeFieldList %}
                                                                                <tr>
                                                                                    <td scope="row" width="10%"> <span class="badge">{{ contractor_employee_field.employees_field.employee_field_code }}</span></td>

                                                                                    <td scope="row">
                                                                                        {{ contractor_employee_field.employees_field.first_name }} {{ contractor_employee_field.employees_field.last_name }}
                                                                                        </br>
                                                                                        <small class="blue">{{ contractor_employee_field.employees_field.category_employees_field }}</small>
                                                                                    </td>

                                                                                    <td>
                                                                                        {{ contractor_employee_field.employees_field.cell_phone_number }} </br>
                                                                                        <small class="blue">{{ contractor_employee_field.employees_field.email }}</small>

                                                                                    </td>
                                                                                    <td>

                                                                                        <a href="{% url 'contractor:contractor_employee_field_update' user.userprofile.companies.id contractor_employee_field.contractors.id contractor_employee_field.employees_field.id  %}" class="btn .btn-transparent btn-xs"><i class="fa fa-link fa-lg"></i> </a>
                                                                                        <a href="{% url 'contractor:contractor_employee_field_profile' user.userprofile.companies.id contractor_employee_field.contractors.id contractor_employee_field.employees_field.id %}" class="btn .btn-transparent btn-xs"><i class="fa fa-gear fa-lg"></i> </a>
                                                                                    </td>

                                                                                </tr>
                                                                            {% endfor %}
                                                                        {% else %}
                                                                            <h4 class="red">We have not yet found information in our database of the selected option.</h4>

                                                                        {% endif %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                                    <!-- <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                                                         booth letterpress, commodo enim craft beer mlkshk </p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- start project-detail sidebar -->
                                <div class="col-md-3 col-sm-3 col-xs-12">

                                    <section class="panel">

                                        <div class="x_title">
                                            <h2 class="blue"> <strong>GENERAL INFORMATION</strong></h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-body">
                                            {% comment %}                                    <h2 class="green"><i class="fa fa-align-justify"></i> Summary</h2>

                                    <p>{{ project.summary }}</p>
                                    <br />{% endcomment %}
                                            <h2 class="green"><i class="fa fa-align-justify"></i> Summary</h2>

                                            <p>{{ contractor.summary }}</p>
                                            <hr>
                                            <div class="project_detail">

                                                <h5 class="title green"><i class="fa fa-clock-o"></i> CONTRACTOR INFORMATION</h5>
                                                <br/>
                                                <p>{{ project.general_contractors }}</p>

                                                <p class="title green"><i class="fa fa-user"></i> Project Leader</p>
                                                <p>{{ contractor.ceo}} <br/><small>CEO</small></p>
                                                <p>{{ contractor.president}} <br/><small>PRESIDENT</small></p>

                                                {% comment %}<p class="title green"><i class="fa fa-users"></i> Project Team</p>

                                        <p>Tony Chicken </br><small>Project Management</small></p>{% endcomment %}
                                            </div>

                                            <br />
                                            {% comment %}<h5 class="green"><i class="fa fa-folder"></i> Project files</h5>

                                    <ul class="list-unstyled project_files">
                                        <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                                        </li>
                                    </ul>
                                    <br />{% endcomment %}
                                            {%  if user.userprofile.role is 1 or user.userprofile.role is 6 or user.userprofile.role is 4 %}
                                                <div class="text-center mtop20">
                                                    <a class="btn btn-info btn-sm" href="{% url 'contractor:employee_field_create'  user.userprofile.companies.id contractor.id %}">
                                                        <i class="fa fa-user fa-lg"></i> Create New Employee</a>
                                                    <a class="btn btn-success btn-sm" href="{% url 'contractor:contractor_employee_field_list' user.userprofile.companies.id contractor.id %}">
                                                        <i class="fa fa-group fa-lg"></i> List Employees Available</a>
                                                </div>
                                            {% endif %}
                                            <hr>
                                            <h2 class="green"><i class="fa fa-align-justify"></i> Notes</h2>
                                            <p>{{ contractor.notes }}</p>
                                        </div>
                                    </section>
                                </div>
                                <!-- end project-detail sidebar -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block javascripts %}
    {{ block.super }}

    <script>
        {% block jquery %}
            var contractorId = '{{ contractor.id }}';
            var endpoint = '/contractor/'+ contractorId.toString()+ '/api/chart/data/';
            var defaultData = [];
            var labelsGraph = [];
            var defaultManDays = [];
            var defaultProjectCost = [];

            $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data){
                    labelsGraph = data.labels_graph;
                    defaultManDays = data.default_man_days;
                    defaultProjectCost = data.default_project_cost;

                    setChart();
                    console.log(data.default)

                },
                error: function(error_data){
                    console.log(error_data)
                }
            });

            function setChart() {
                var ctx = document.getElementById("myChart");

                Chart.defaults.global.defaultFontFamily = "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
                Chart.defaults.global.defaultFontSize = 12;

                var densityData = {
                    label: 'Man Days per Day',
                    data: defaultManDays,
                    yAxisID: "y-axis-density",
                    backgroundColor: '#34495e',
                    borderWidth:2,
                    border:10
                };

                var gravityData = {
                    label: 'Cost per Day',
                    data: defaultProjectCost,
                    yAxisID: "y-axis-gravity",
                    backgroundColor: '#26b99a',
                    borderWidth:2,
                    border:10

                };

                var planetData = {
                    labels: labelsGraph,
                    datasets: [densityData, gravityData]
                };

                var chartOptions = {
                    title: {
                        display: true,
                        text: ' Chart Man Days vs Cost Per Projects',
                        fontSize: 24,
                        fontColor: '#26b99a',
                        fontStyle: "bold",
                        margin: 1,
                        padding: 2
                    },
                    legend: {
                        horizontalAlign: "left", // "center" , "right"
                        verticalAlign: "center",  // "top" , "bottom"
                        fontSize: 15
                    },
                    scales: {
                        xAxes: [
                            {
                                barPercentage: 1,
                                categoryPercentage: 0.6,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Labor Days',
                                    fontColor: '#26b99a',
                                    fontStyle: "bold"
                                }
                            }],
                        yAxes: [{
                            id: "y-axis-density",
                            scaleLabel: {
                                display: true,
                                labelString: 'Project Man Day',
                                fontColor: '#26b99a',
                                fontStyle: "bold"
                            },
                            ticks: {
                                beginAtZero:true
                            }
                        }, {
                            id: "y-axis-gravity",
                            scaleLabel: {
                                display: true,
                                labelString: 'Project Cost',
                                fontColor: '#26b99a',
                                fontStyle: "bold"
                            },
                            ticks: {
                                beginAtZero:true
                            }

                        }]
                    }
                };

                var barChart = new Chart(ctx, {
                    type: 'bar',
                    data: planetData,
                    options: chartOptions
                });
                barChart.render();

            }

        {% endblock %}
    </script>
    <!-- ECharts -->
    <script src="/static/vendors/echarts/dist/echarts.min.js"></script>
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}