{% extends "base/base_site.html" %}
{% load mathfilters %}

<title>SAMSON Project Management and Comunication - SPMC | {% block title %} List of Contractor {% endblock %}</title>

{% block content %}
    <head>
        <title>SAMSON - Man Days Schedule per Floor and Labor | {{ project_info.name }}</title>
        <style>
            @page {
                margin: 1cm;
                margin-bottom: 1cm;
            {#size: A4 landscape;#}
                size: letter landscape;
                @frame footer{
                -pdf-frame-content: footerContent;
                bottom: 1cm;
                margin-left: 0.5cm;
                margin-right: 0.5cm;
                height: 1cm;
            }
            }
        </style>
        <style type="text/css">

            body {
                font-weight: 200;
                font-size: 11px;
            }

            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 5px 8px 0px 50px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 0.5em;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            .row.header {
                color: #0aAEEF;
                background: #6c7ae0;
                font-size: medium;
            }
            .row .cell {
                font-family: Poppins-Regular;
                font-size: 12px;
                color: #666666;
                line-height: 1.2;
                font-weight: unset !important;

                padding-top: 12px;
                padding-bottom: 12px;
                border-bottom: 0px solid #f2f2f2;
            }
            #customers {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            #customers td, #customers th {
                border: 0.3px solid #ddd;
                padding: 4px;
            }

            #customers tr:nth-child(even){background-color: #f2f2f2;}

            #customers tr:hover {background-color: #ddd;}

            #customers th {
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: left;
                background-color: #0b97c4;
                color: white;
            }
        </style>

    </head>

    <div class='wrapper'>

        <div class='header'>
            <p style="line-height: 1.5;">
                <strong style="font-size: 22px;">{{ project_info.name }}</strong> <br/>
                <strong style="font-size: 14px">{{ project_info.street_address }}, {{ project_info.city_address }}, {{ project_info.state_address }}</strong></br>
                <strong style="font-size: 16px; color: #0D3349">Man Day Schedule Per Floor & Labor</strong>
            </p>
        </div>

        <div class='details'>
            <ul>
                <li>#PO: <strong>{{ project_info.po }}</strong></li>
                <li> Report Date From: <strong>{{ start_date }}</strong> TO:<strong>{{ finish_date|date:'m-d-Y' }} | </strong>
               Total Man Days: <strong>{{ total_man_days.total_man_days }} |</strong> Total Man Days Spent: <strong>{{ total_man_days_spent.total_man_days_spent|div:8|floatformat:2 }} |</strong> Total Remaining: <strong>{{ total_man_days.total_man_days|mul:8|sub:total_man_days_spent.total_man_days_spent|div:8|floatformat:2 }}</strong> Estimate Cost: <strong>${{ total_estimate_cost.total_estimate_cost|floatformat:2 }} |</strong> Labor Cost: <strong>$ {{ total_cost.total_cost|floatformat:2 }}|</strong>{{ total_cost.total_cost|div:total_estimate_cost.total_estimate_cost|mul:100|floatformat:2 }}%</li>
            </ul>
            <hr class='hrItem' />
        </div>
    </div>

    <div class="details">
        {% if mandays %}
            <table id="customers" style="width:100%;border-color: lightblue" align="center">
            <thead>
            <tr>
                <th>Floor/Phase</th>
                <th>Labor Type</th>
                <th>Price (Hrs)</th>
                <th>Labor Code</th>
                <th>Production per MDs</th>
                <th>Total Production</th>
                <th>SUM Produced</th>
                <th>Man Day Allotted</th>
                <th>Man Day Spent</th>
                <th>Day Remaining</th>
                <th>Estimate Cost <small>USD</small></th>
                <th>Labor Cost <small>USD</small></th>
            </tr>
            </thead>
            <tbody>
            {% for cost_code in mandays %}
                <tr>
                    <th scope="row">{{ cost_code.project_manday_schedules__project_floor_phases__name }}</th>
                    <td class="blue" width="15%"> <strong>{{ cost_code.project_manday_schedules__cost_codes__name }}</strong></td>

                    <td>$
                        {% if project_info.is_wage_scale %}
                            {{ cost_code.project_manday_schedules__is_wage_scale }} {{ cost_code.project_manday_schedules__wage_cost }}
                        {% else %}
                            {{ cost_code.project_manday_schedules__is_wage_scale }} {{ cost_code.project_manday_schedules__regular_cost }}
                        {% endif %}
                    </td>

                    <td align="center">{{ cost_code.project_manday_schedules__code_labor }}</td>

                    <td>{{ cost_code.project_manday_schedules__production }} {{ cost_code.project_manday_schedules__unit }}</td>
                    <td class="blue">{{ cost_code.project_manday_schedules__production|mul:cost_code.project_manday_schedules__man_days_allotted | floatformat:0 }} {{ cost_code.project_manday_schedules__unit }}</td>
                    <td class="green">{{ cost_code.project_production }} {{ cost_code.project_manday_schedules__unit }}</td>
                    <td class="bg-green"><strong style="color:limegreen">{{ cost_code.project_manday_schedules__man_days_allotted }}</strong></td>

                    <td class="bg-red"><strong style="color:dodgerblue">{{ cost_code.man_days_spent |div:8|floatformat:2 }}</strong></td>
                    <td class="bg-blue"><strong style="color:red">{{ cost_code.project_manday_schedules__man_days_allotted |mul:8 | sub:cost_code.man_days_spent |div:8|floatformat:2  }}</strong></td>

                    <td>
                        {% if project_info.is_wage_scale %}
                            <strong style="color:limegreen">{{ cost_code.project_manday_schedules__man_days_allotted |mul:8 | mul:cost_code.project_manday_schedules__wage_cost  | floatformat:2  }}</strong>
                        {% else %}
                            <strong style="color:limegreen">{{ cost_code.project_manday_schedules__man_days_allotted |mul:8 | mul:cost_code.project_manday_schedules__regular_cost  | floatformat:2  }}</strong>
                        {% endif %}
                    </td>

                    <td>
                        {% if project_info.is_wage_scale %}
                            <strong style="color:dodgerblue">{{ cost_code.project_manday_schedules__wage_cost|mul:cost_code.man_days_spent  | floatformat:2  }}</strong>
                        {% else %}
                            <strong style="color:dodgerblue">{{ cost_code.project_manday_schedules__regular_cost|mul:cost_code.man_days_spent  | floatformat:2  }}</strong>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}

        {% else %}
            <h4 class="red">We have not yet found information in our database of the selected option.</h4>
        {% endif %}

        </tbody>
        </table>
    </div>
    <div id="footerContent" align="center">
        <p style="line-height: 0.5;">
        <hr>
        <smal style="font-size: 12px">{{ company_info.name }} {{ company_info.street_address }} {{ company_info.city_address }} {{ company_info.state_address }}. Phone: {{ company_info.phone_number }} - {{ report_date }}
        </smal>
        </p>
    </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

{% endblock javascripts %}


