{% extends "base/base_site.html" %}
{% load mathfilters %}

<title>SAMSON Project Management and Comunication - SPMC | {% block title %} List of Contractor {% endblock %}</title>

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <head>
        <title>SAMSON - Reports</title>
        <style>
            @page {
                margin: 2cm;
                margin-bottom: 2.5cm;
            {#size: A4 landscape;#}
                size: letter;
                @frame footer{
                -pdf-frame-content: footerContent;
                bottom: 2cm;
                margin-left: 1cm;
                margin-right: 1cm;
                height: 1cm;
            }
            }
        </style>
        <style type="text/css">

            body {
                font-weight: 200;
                font-size: 14px;
            }

            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            .row.header {
                color: #0aAEEF;
                background: #6c7ae0;
                font-size: medium;
            }
            .row .cell {
                font-family: Poppins-Regular;
                font-size: 15px;
                color: #666666;
                line-height: 1.2;
                font-weight: unset !important;

                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #f2f2f2;
            }
            #customers {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even){background-color: #f2f2f2;}

            #customers tr:hover {background-color: #ddd;}

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #0b97c4;
                color: white;
            }
        </style>
    </head>
    <div class='wrapper'>
        <div class='header'>
            <p style="line-height: 1.5;">
                <strong style="font-size: 26px;">{{ project_info.name }}</strong> <br/>
                <strong style="font-size: 18px">{{ project_info.street_address }}, {{ project_info.city_address }}, {{ project_info.state_address }}</strong>
            </p>
        </div>
        <div>
            <div class='details'>
                #PO: <strong>{{ project_info.po }}</strong> <br/>

                Report: from {{ start_date|date:'m-d-Y' }} <strong>to</strong> {{ end_date|date:'m-d-Y' }} <br/>

                <hr class='hrItem' />
            </div>
        </div>
        <div class="details">
            {{ contractors.hours }}
            {% if contractors %}
                <table id="customers" style="width:100%;border-color: lightblue" align="center">
                <thead>
                <tr class="row header">
                    <th width="30%">Contractor Name</th>
                    <th width="15%">MDays</th>
                    <th width="15%">Hours</th>
                    <th width="15%">% Hrs</th>
                    <th width="15%">Cost</th>
                    <th width="15%">% Cost</th>
                </tr>
                </thead>

                <tbody>
                {% for c in contractors %}
                    <tr>
                        <td>{{ c.project_contractor_employees_field__project_contractors__contractors__name }}</td>
                        <td>{{ c.hours|div:8 }}</td>

                        <td>{{ c.hours }}</td>
                        <td>{{ c.hours|div:total_hours.total_hours|mul:100|floatformat:2 }}%</td>
                        <td>$ {{ c.cost|floatformat:2 }}</td>
                        <td>{{ c.cost|div:total_cost.total_cost|mul:100|floatformat:2 }}%</td>

                    </tr>
                {% endfor %}
                <tr>
                    <td align="center"><strong>TOTAL</strong></td>
                    <td style="background-color: #f3f3f3"><strong>{{ total_hours.total_hours|floatformat:2|div:8 }}</strong></td>
                    <td style="background-color: #f3f3f3"><strong>{{ total_hours.total_hours|floatformat:2 }}</strong></td>
                    <td style="background-color: #f3f3f3">100.00%</td>
                    <td style="background-color: #f3f3f3"><strong>$ {{ total_cost.total_cost|floatformat:2 }}</strong></td>
                    <td style="background-color: #f3f3f3">100.00%</td>
                </tr>

            {% else %}
                <h4 class="red">We have not yet found information in our database of the selected option.</h4>
            {% endif %}

            </tbody>
            </table>
        </div>
        <div id="footerContent" align="center">
            <p style="line-height: 0.5;">
            <hr>
            <smal style="font-size: 12px">{{ company_info.name }} {{ company_info.street_address }} {{ company_info.city_address }} {{ company_info.state_address }}. Phone: {{ company_info.phone_number }} - {{ report_date }}
</smal>
            </p>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

{% endblock javascripts %}


