{% extends "base/base_site.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% load mathfilters %}
{% load staticfiles %}

<title>SAMSON Project Management and Comunication - SPMC | {% block title %} REPORTS {% endblock %}</title>

{% block content %}
    <head>
        <title>SAMSON - Activity Labor Report| {{ project_info.name }}</title>
        <style>
            @page {
                margin: 1cm;
                margin-bottom: 1.75cm;
            {#size: A4 landscape;#}
                size: letter landscape;
                @frame footer{
                -pdf-frame-content: footerContent;
                bottom: 1cm;
                margin-left: 0.5cm;
                margin-right: 0.5cm;
                height: 1cm;
            }
            }
        </style>
        <style type="text/css">

            body {
                font-weight: 200;
                font-size: 11px;
            }

            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 5px 8px 0px 50px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 0.5em;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            .row.header {
                color: #0aAEEF;
                background: #6c7ae0;
                font-size: medium;
            }
            .row .cell {
                font-family: Poppins-Regular;
                font-size: 12px;
                color: #666666;
                line-height: 1.2;
                font-weight: unset !important;

                padding-top: 12px;
                padding-bottom: 12px;
                border-bottom: 0px solid #f2f2f2;
            }
            #customers {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            #customers td, #customers th {
                border: 0.3px solid #ddd;
                padding: 4px;
            }

            #customers tr:nth-child(even){background-color: #f2f2f2;}

            #customers tr:hover {background-color: #ddd;}

            #customers th {
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: left;
                background-color: #0b97c4;
                color: white;
            }
        </style>

    </head>

    <div class='wrapper'>
        <div class='header'>
            <p style="line-height: 1.5;">
                <strong style="font-size: 22px;">{{ project_info.name }} | PO: {{ project_info.po }}</strong> <br/>
                <strong style="font-size: 16px">{{ project_info.street_address }}, {{ project_info.city_address }}, {{ project_info.state_address }}</strong></br>
                <strong style="font-size: 18px; color: #0D3349">Activity Labor Report</strong></br>
                <strong style="font-size: 14px; color: #0D3349">Report Date From: {{ start_date }} TO {{ finish_date|date:'m-d-Y' }} </strong>
            </p>
        </div>
    </div>

    <div class="details">
        {% if projectDailyProduce %}

            <div class="message_wrapper">
                <!-- start Daily Produce list -->
                <table id="customers" style="width:100%;border-color: lightblue" align="center">
                    <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Contractor</th>
                        <th>Floor/Phase</th>
                        <th>Labor</th>
                        <th>Hours</th>
                        <th>Man Days</th>
                        <th>Production per MDs</th>
                        <th>Production Empl.</th>
                        <th>% Production Empl.</th>
                        <th>Day</th>
                        <th>Date</th>
                    </tr>
                    </thead>

                    <tbody>
                    <!-- end of user messages -->
                    {% for daily_produce_project in projectDailyProduce %}
                        {% ifchanged daily_produce_project.created_at %}
                            <tr style="background-color: #E0F2BE">
                                {% else %}
                            <tr style="background-color: #DCFFFF">
                        {% endifchanged %}


                    <td style="background-color: #cce5ff">
                        <span class="">{{ daily_produce_project.project_contractor_employees_field.contractor_employees_field.employees_field.first_name }} {{ daily_produce_project.project_contractor_employees_field.contractor_employees_field.employees_field.last_name }}</span>
                    </td>

                    <td>
                        <span style="color: #5bb75b">{{ daily_produce_project.project_contractor_employees_field.contractor_employees_field.contractors.name }}</span>
                    </td>

                    <td class="green">
                        {{ daily_produce_project.project_manday_schedules.project_floor_phases.name }}
                    </td>

                    <td class="red">
                        {{ daily_produce_project.project_manday_schedules.name }}
                    </td>

                    <td align="center" class="bg-blue-sky">
                        <strong>{{ daily_produce_project.work_hours }}</strong>
                    </td>

                    <td  align="right" class="bg-blue-sky">
                        {{ daily_produce_project.work_hours | div:8 | floatformat:2 }}
                    </td>

                    <td align="right" class="bg-blue">
                        {{ daily_produce_project.project_manday_schedules.production }}
                        {{ daily_produce_project.project_manday_schedules.unit }}
                    </td>

                    <td align="right" class="bg-blue">
                        {{ daily_produce_project.production }}
                        {{ daily_produce_project.project_manday_schedules.unit }}
                    </td>

                    <td align="right">
                        {{ daily_produce_project.production|div:daily_produce_project.project_manday_schedules.production|mul:100 | floatformat:0}}%
                    </td>

                    <td scope="row" align="center">
                        {{ daily_produce_project.today }}
                    </td>

                    <td>
                        {{ daily_produce_project.created_at | date:'M' }} {{ daily_produce_project.created_at | date:'d' }}/
                        {{ daily_produce_project.created_at | date:'y' }}
                    </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <strong>We have not yet found information in our database of the selected option</strong>
            </div>
        {% endif %}

    </div>


    <div id="footerContent" align="center">
        <p style="line-height: 0.5;">
        <hr>
        <smal style="font-size: 12px">{{ company_info.name }} {{ company_info.street_address }} {{ company_info.city_address }} {{ company_info.state_address }}. Phone: {{ company_info.phone_number }} - {{ report_date }}
                    Pag {{ forloop.counter }}

        </smal>
        </p>
    </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

{% endblock javascripts %}


