{% extends "base/base_site.html" %}
{% load mathfilters %}

<title>SAMSON Project Management and Comunication - SPMC | {% block title %} List of Contractor {% endblock %}</title>

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <head>
        <title>SAMSON - Man Days Schedule | {{ project_info.name }}</title>
        <style>
            @page {
                margin: 1cm;
                margin-bottom: 1cm;
            {#size: A4 landscape;#}
                size: letter landscape;
                @frame footer{
                -pdf-frame-content: footerContent;
                bottom: 1cm;
                margin-left: 0.5cm;
                margin-right: 0.5cm;
                height: 1cm;
            }
            }
        </style>
        <style type="text/css">

            body {
                font-weight: 200;
                font-size: 11px;
            }

            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 5px 8px 0px 50px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 0.5em;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            .row.header {
                color: #0aAEEF;
                background: #6c7ae0;
                font-size: medium;
            }
            .row .cell {
                font-family: Poppins-Regular;
                font-size: 12px;
                color: #666666;
                line-height: 1.2;
                font-weight: unset !important;

                padding-top: 12px;
                padding-bottom: 12px;
                border-bottom: 0px solid #f2f2f2;
            }
            #customers {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            #customers td, #customers th {
                border: 0.3px solid #ddd;
                padding: 4px;
            }

            #customers tr:nth-child(even){background-color: #f2f2f2;}

            #customers tr:hover {background-color: #ddd;}

            #customers th {
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: left;
                background-color: #0b97c4;
                color: white;
            }
        </style>

    </head>
    <div class='wrapper'>
        <div class='header'>
            <p style="line-height: 1.5;">
                <strong style="font-size: 26px;">{{ project_info.name }}</strong> <br/>
                <strong style="font-size: 18px">{{ project_info.street_address }}, {{ project_info.city_address }}, {{ project_info.state_address }}</strong>
            </p>
        </div>
        <div>
            <div class='details'>
                #PO: <strong>{{ project_info.po }}</strong> <br/>

                <strong>Start Date:</strong> {{ start_date|date:'m-d-Y' }} <strong>Finish Date:</strong> {{ finish_date|date:'m-d-Y' }} <br/>

                <hr class='hrItem' />
            </div>
        </div>
        <div class="details">
            {% if mandays %}
                <table id="customers" style="width:100%;border-color: lightblue" align="center">
                <thead>
                <tr class="row header">
                    <th>Contractor Name</th>
                    <th>Category</th>
                    <th>Labor</th>
                    <th>Code Labor</th>
                    <th>Production</th>
                    <th>Man Days Alloted</th>
                    {% if project_info.is_wage_scale %}
                        <th>Wage Cost per Hour</th>
                        <th>Wage Cost</th>
                    {% else %}
                        <th>Regular Cost per Hour</th>
                        <th>Regular Cost</th>
                    {% endif %}
                </tr>
                </thead>

                <tbody>
                {% for c in mandays %}
                    <tr>
                        <td>{{ c.project_floor_phases.name }}</td>
                        <td>{{ c.cost_codes.category_cost_codes }}</td>
                        <td>{{ c.cost_codes.name }}</td>
                        <td>{{ c.cost_codes.code_labor }}</td>
                        <td>{{ c.production }} {{ c.unit }}</td>
                        <td align="right">{{ c.man_days_allotted }}</td>

                        {% if project_info.is_wage_scale %}
                            <td align="right">$ {{ c.wage_cost }}</td>
                            <td align="right">$ {{ c.wage_cost|mul:c.man_days_allotted|mul:8|floatformat:2 }}</td>

                        {% else %}
                            <td align="right">$ {{ c.regular_cost }}</td>
                            <td align="right">$ {{ c.regular_cost|mul:c.man_days_allotted|mul:8|floatformat:2 }}</td>

                        {% endif %}

                    </tr>
                {% endfor %}
                {% comment %}<tr>
                    <td style="background-color: #f3f3f3;"><strong>.</strong></td>
                    <td style="background-color: #f3f3f3">.</td>
                    <td style="background-color: #f3f3f3">.</td>
                    <td style="background-color: #f3f3f3">.</td>

                    <td align="center"><strong>TOTAL</strong></td>

                    <td style="background-color: #f3f3f3; font-size: 13px;" align="right"><strong>{{ total_man_days.total_man_days }}</strong></td>
                    <td style="background-color: #f3f3f3; font-size: 13px;" align="right">.</td>

                    {% if project_info.is_wage_scale %}
                        <td style="background-color: #f3f3f3; font-size: 13px;" align="right"><strong>$ {{ total_wage_cost.total_wage_cost }}</strong></td>
                    {% else %}
                        <td style="background-color: #f3f3f3; font-size: 13px;" align="right"><strong>$ {{ total_regular_cost.total_regular_cost }}</strong></td>

                    {% endif %}
                </tr>{% endcomment %}

            {% else %}
                <h4 class="red">We have not yet found information in our database of the selected option.</h4>
            {% endif %}

            </tbody>
            </table>
        </div>
        <div id="footerContent" align="center">
            <p style="line-height: 0.5;">
            <hr>
            <smal style="font-size: 12px">{{ company_info.name }} {{ company_info.street_address }} {{ company_info.city_address }} {{ company_info.state_address }}. Phone: {{ company_info.phone_number }} - {{ report_date }}
            </smal>
            </p>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

{% endblock javascripts %}


