{% extends "base/base_site.html" %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block content %}
    <div class="right_col" role="main">
        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2> <strong> Assign <strong class="blue">Contractors</strong> to Project</strong></h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right" align="right">
                <a class="btn btn-warning"  href="{% url 'project:project_detail' project.id %}">
                    <i class="fa fa-reply"></i> Return to Projects
                </a>
            </div>
        </div>
        <!-- End Top Title-->

        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3><i class="fa fa-building-o"></i><strong> {{ project.name }}</strong> </h3>
                            <div class="clearfix"></div>
                        </div>

                        <div class="">
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2><i class="fa fa-bars"></i> Contractors to Assign.<small></small></h2>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">


                                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Available </a>
                                                </li>
                                                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Assigned </a>
                                                </li>

                                            </ul>

                                            <div id="myTabContent" class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                                    <div class="x_content">
                                                        <br />
                                                        <table id="datatable-buttons" class="table table-striped table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Ceo</th>
                                                                <th>Phone Number</th>
                                                                <th>Email</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% if ContractorList %}
                                                                {% for contractor in ContractorList %}

                                                                    <tr>
                                                                        <th scope="row">{{ contractor.name }}</th>
                                                                        <td>{{ contractor.ceo }}</td>
                                                                        <td>{{ contractor.phone_number }}</td>
                                                                        <td>{{ contractor.email }}</td>
                                                                        <td>
                                                                            <a href="{% url 'project:project_contractor_create' user.userprofile.companies.id project.id contractor.id %}" class="btn btn-info btn-sm">
                                                                                <i class="fa fa-pencil"></i> Assign to Project</a>
                                                                        </td>
                                                                    </tr>

                                                                {% endfor %}

                                                            {% else %}
                                                                <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                                            {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                                    <div class="x_content">
                                                        <br />
                                                        <table id="datatable-buttons" class="table table-striped table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <th>Contractor Name</th>
                                                                <th>CEO</th>
                                                                <th>Phone Number</th>
                                                                <th>Email</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {{ EmployeeAssigned }}
                                                            {% if ContractorAssigned %}
                                                                {% for contractor in ContractorAssigned %}
                                                                    <tr>
                                                                        <th scope="row">{{ contractor.contractors.name }}</th>
                                                                        <td>{{ contractor.contractors.ceo }}</td>
                                                                        <td>{{ contractor.contractors.phone_number }}</td>
                                                                        <td>{{ contractor.contractors.email }}</td>
                                                                        <td>
                                                                            <a href="{% url 'project:project_contractor_update' user.userprofile.companies.id project.id contractor.id %}" class="btn .btn-transparent btn-sm">
                                                                                <i class="fa fa-link fa-lg">
                                                                                </i> </a>

                                                                            {% comment %}                                                                            <a href="{% url 'project:project_contractor_delete' project.id contractor.projectcontractor %}" class="btn .btn-transparent btn-sm">
                                                                                <i class="fa fa-trash fa-lg">
                                                                                </i></a>{% endcomment %}
                                                                        </td>
                                                                    </tr>

                                                                {% endfor %}

                                                            {% else %}
                                                                <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                                            {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super}}
    <!-- Ion.RangeSlider -->
    <script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

    <!-- Bootstrap Colorpicker -->
    <script src="/static/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

    <!-- jquery.inputmask -->
    <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

    <!-- jQuery Knob -->
    <script src="/static/vendors/jquery-knob/dist/jquery.knob.min.js"></script>

    <!-- Cropper -->
    <script src="/static/vendors/cropper/dist/cropper.min.js"></script>

    <!-- validator -->
    <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}



