{% extends "base/base_site.html" %}
<title>SAMSON Project Management and Comunication - SPMC | {% block title %} Delete of Company {% endblock %}</title>

{% block content %}
    <div class="right_col" role="main">
        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2><i class="fa fa-gear"></i> <strong>Category Cost Code<strong class="blue">Delete</strong></strong></h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right" align="right">
                <a class="btn btn-warning" href="{%  url 'company:category_cost_code_list' user.userprofile.companies.id  %}">Cancelar</a>

            </div>
        </div>
        <!-- End Top Title-->

        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 class="green">Category Cost Code Delete | <strong class="green-dark">{{ user.userprofile.companies.name }}</strong></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <p class="text-muted font-13 m-b-30">
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                </thead>
                                {# CODE ELIMINATE#}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {% if DeleteRegisterExist %}
                                        <h2> <span class="label label-warning">{{ DeleteRegister.name }}</span> It can not be eliminated because there are assigned records.</h2>

                                    {% else %}
                                        <h2>Be sure to eliminate this record <b> <span class="label label-danger">{{ DeleteRegister.name }}</span> ?</b></h2>

                                        <button class="btn btn-danger" type="submit">Yes, Delete</button>
                                        <a class="btn btn-primary" href="{%  url 'company:category_employee_field_list' user.userprofile.companies.id  %}">Cancelar</a>
                                    {% endif %}
                                </form>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


