{% extends "base/base_site.html" %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2> <strong> Assign <strong class="blue">Man Day Schedule</strong> to Project</strong></h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right" align="right">
                <a class="btn btn-warning"  href="{% url 'project:project_detail' projectSelected.id %}">
                    <i class="fa fa-reply"></i> Return to Projects
                </a>
                <a class="btn btn-toolbar"  href="{% url 'project:project_manday_schedule_report' user.userprofile.companies.id projectSelected.id %}" target="_blank">
                    <i class="fa fa-print"></i> Print Man Day Schedule
                </a>
            </div>
        </div>
        <!-- End Top Title-->

        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3><i class="fa fa-building-o"></i> {{ projectSelected.name }} | <strong class="pink-primary">Management Man Day Schedule</strong></h3>
                            <div class="clearfix"></div>
                        </div>

                        <div class="">
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                <div class="x_panel">

                                    <div class="x_content">
                                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Database Cost Code</a>
                                                </li>
                                                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Assigned to Man Days Schedule Project</a>
                                                </li>
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                                    <div class="x_content">
                                                        <br />
                                                        <h3 align="center"> Database of Labors | <strong class="green">{{ user.userprofile.companies.name }}</strong></h3>
                                                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                                            <thead>
                                                            <tr>
                                                                {% comment %}
                                                            <th>ID</th>
{% endcomment %}
                                                                <th>Category</th>
                                                                <th>Labor Name</th>

                                                                <th>Code Labor</th>
                                                                <th>Code Material</th>
                                                                <th>Production</th>
                                                                <th>Unit</th>
                                                                <th># Actions</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% if CodeCostList %}
                                                                {% for code_cost in CodeCostList %}
                                                                    <tr>
                                                                        {% comment %}
                                                                    <th scope="row">{{ code_cost.id }}</th>
{% endcomment %}
                                                                        <th scope="row">{{ code_cost.category_cost_codes }}</th>
                                                                        <td>{{ code_cost.name }}</td>
                                                                        <td>{{ code_cost.code_labor }}</td>
                                                                        <td>{{ code_cost.code_material }}</td>
                                                                        <td>{{ code_cost.production }}</td>
                                                                        <td>{{ code_cost.unit }}</td>
                                                                        <td>
                                                                            <a href="{% url 'project:project_manday_schedule_create' user.userprofile.companies.id projectSelected.id code_cost.pk %}" class="btn btn-info btn-sm">
                                                                                <i class="fa fa-plus-circle"></i> </a>
                                                                        </td>
                                                                    </tr>

                                                                {% endfor %}
                                                            {% else %}
                                                                <h5>There are no Cost Codes or all those that were in the database have already been assigned.</h5>
                                                            {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                                    <div class="x_content">
                                                        <br />
                                                        <h3 align="center"> Man Day Schedule |  <strong class="green">{{ projectSelected.name }}</strong></h3>
                                                        <table id="datatable-buttons" class="table table-striped table-bordered">                                                            <thead>
                                                        <tr>
                                                            <th>Floor</th>
                                                            <th>Code Labor</th>
                                                            <th>Labor</th>
                                                            <th>Code Labor</th>
                                                            <th>Production</th>
                                                            <th>Units</th>
                                                            <th>Man Days Allotted</th>
                                                            <th>Regular Cost USD</th>
                                                            <th>Overtime Cost</th>
                                                            <th>Wage Cost USD</th>
                                                            <th>Wage Overtime Cost</th>
                                                            <th># Actions</th>
                                                        </tr>
                                                        </thead>
                                                            <tbody>
                                                            {% if projectManDayScheduleSelected %}
                                                                {% for man_days_schedule in projectManDayScheduleSelected %}
                                                                    <tr>
                                                                        <!--<td scope="row">{{ man_days_chedule.pk }}</td>-->
                                                                        <th scope="row">{{ man_days_schedule.project_floor_phases.name }}</th>
                                                                        <td>{{ man_days_schedule.cost_codes.category_cost_codes }}</td>
                                                                        <td><strong class="green">{{ man_days_schedule.cost_codes.name }}</strong></th>
                                                                        <td>{{ man_days_schedule.cost_codes.code_labor }}</td>
                                                                        <td style="text-align:right;"><strong class="pink-primary">{{ man_days_schedule.production }}</strong></td>
                                                                        <td style="text-align:center;">{{ man_days_schedule.cost_codes.unit }}</td>
                                                                        <td style="text-align:right;"><strong class="green">{{ man_days_schedule.man_days_allotted }}</strong></td>
                                                                        <td style="text-align:right;"><strong class="blue">{{ man_days_schedule.regular_cost }}</strong></td>
                                                                        <td>{{ man_days_schedule.overtime_cost }}</td>
                                                                        <td style="text-align:right"><strong class="orange">{{ man_days_schedule.wage_cost }}</strong></td>
                                                                        <td>{{ man_days_schedule.wage_overtime_cost }}</td>
                                                                        <td>
                                                                            <a href="{% url 'project:project_manday_schedule_update' user.userprofile.companies.id projectSelected.id man_days_schedule.id %}" class="btn btn-info btn-sm">
                                                                                <i class="fa fa-pencil">
                                                                                </i></a>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            {% else %}
                                                                <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                                            {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

{% block javascripts %}
    {{ block.super}}


    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

{% endblock javascripts %}
</div>
</div>
