{% extends "base/base_site.html" %}

<title>SAMSON Project Management and Comunication - SPMC | {% block title %} Assing Employee to Project {% endblock %}</title>

{% load crispy_forms_tags %}
{% crispy form %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Project module: </h3>
                </div>
                <div class="col-xs-12 form-group pull-left top_search">
                    <div class="input-group">
                        <li class="btn btn-warning btn-sm">
                            <i class="fa fa-pencil"></i>
                        </li>
                        <span class="input-group-btn">
                        </span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            {% if project.id  %}
                                <h2>Edit Project<small>different form elements</small></h2>
                            {% else %}
                                <h2>Assing Employee to Project<small></small></h2>

                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                                {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Ion.RangeSlider -->
  <script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
  <!-- Bootstrap Colorpicker -->
  <script src="/static/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- jquery.inputmask -->
  <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
  <!-- jQuery Knob -->
  <script src="/static/vendors/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- Cropper -->
  <script src="/static/vendors/cropper/dist/cropper.min.js"></script>
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}



