{% extends "base/base_site.html" %}
<title>SAMSON Project Management and Comunication - SPMC | {% block title %} List of Employees {% endblock %}</title>

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <!-- Start Top Title-->
        <div class="col-md-12 col-sm-12 col-xs-12 nav navbar-header product_price">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2><i class="fa fa-gear"></i> Assigned <strong class="orange">Employee</strong> to Contractor in Project</h2>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right" align="right">
                <a class="btn btn-success" href="{%  url 'contractor:contractor_detail' user.userprofile.companies.id information.contractors.id %}">
                    Return Contractor Detail
                </a>
            </div>
        </div>
        <!-- End Top Title-->

        <div class="">


            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="clearfix"></div>
                    <div class="x_title">
                        <h3><i class="fa fa-building"></i> {{ information.projects.name }}<small class="green"> {{ information.projects.street_address}}, {{ information.projects.city_address}}, {{ information.projects.state_address }} {{ information.projects.zip_code_address }}, {{ information.projects.country_address }}</small></h3>
                        <!--                    <div class="circle-text-blue">
                                                Hello
                                            </div>-->
                        <h3 class="-bluetooth-b orange">{{ information.contractors.name }} </h3>

                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <!-- start accordion -->
                        <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true" >
                            <div class="panel">
                                <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseTwo">
                                    <h4 class="panel-title"> <i class="fa fa-users"></i> Employees Assigned to <strong class="blue"> {{ information.projects.name }} </strong> </h4>

                                </a>
                                <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                                    <div class="panel-body">
                                        <div class="x_content">
                                            <p class="text-muted font-13 m-b-30">
                                            </p>
                                            <table id="datatable-keytable-assigned-list" class="table table-striped table-bordered">
                                                <tr>
                                                    <th>ID</th>

                                                    <th>Employee Name</th>
                                                    <th>Category Employee</th>

                                                    <th>Phone Number</th>
                                                    <th>Email</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if ProjectContractorAssignedEmployeeField %}
                                                    {% for project_contractor_employee_assigned in ProjectContractorAssignedEmployeeField %}
                                                        <tr>
                                                            <th scope="row">{{ project_contractor_employee_assigned.id }}</th>

                                                            <th scope="row">
                                                                {{ project_contractor_employee_assigned.contractor_employees_field.employees_field.first_name }}
                                                                {{ project_contractor_employee_assigned.contractor_employees_field.employees_field.last_name }}
                                                            </th>
                                                            <td>{{ project_contractor_employee_assigned.contractor_employees_field.employees_field.category_employees_field }}</td>

                                                            <td>{{ project_contractor_employee_assigned.contractor_employees_field.employees_field.cell_phone_number }}</td>
                                                            <td>{{ project_contractor_employee_assigned.contractor_employees_field.employees_field.email }}</td>
                                                            <td>
                                                                <!--<a href="" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>-->

                                                            </td>

                                                        </tr>
                                                    {% endfor %}

                                                {% else %}
                                                    <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                                {% endif %}
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <a class="panel-heading collapsed" role="tab" id="headingTwo1" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                                    <h4 class="panel-title"><i class="fa fa-align-left"></i> Database of employees in  <strong class="blue"> {{ information.projects.name }} </strong> </h4>

                                </a>
                                <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

                                    <div class="panel-body">

                                        <div class="x_content">
                                            <p class="text-muted font-13 m-b-30">
                                            </p>
                                            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>

                                                    <th>Employee Name</th>
                                                    <th>Last Name</th>
                                                    <th>Category Employee</th>

                                                    <th>Phone Number</th>
                                                    <th>Email</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{ filter_models }}
                                                {% if projectContractorEmployeeFieldList %}
                                                    {% for project_contractor_employee_list in projectContractorEmployeeFieldList %}
                                                        <tr>
                                                            <th scope="row">{{ project_contractor_employee_list.id }}</th>

                                                            <th scope="row">
                                                                {{ project_contractor_employee_list.employees_field.first_name }}
                                                                {{ project_contractor_employee_list.employees_field.last_name }}
                                                            </th>
                                                            <td>{{ project_contractor_employee_list.employees_field.category_employees_field }}</td>

                                                            <td>{{ project_contractor_employee_list.employees_field.cell_phone_number }}</td>
                                                            <td>{{ project_contractor_employee_list.employees_field.email }}</td>
                                                            <td>
                                                                <!--<a href="" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>-->
                                                                {#                                                                <a href="{% url 'project:project_contractor_employee_field_create' information.contractors.id project_contractor_employee_list.id %}" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Assign to {{ information.contractors.name }} </a>#}
                                                                <a href="{% url 'project:project_contractor_employee_field_create' filter_models.project_contractor_id filter_models.contractors_id project_contractor_employee_list.id %}" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Assign to {{ information.contractors.name }} </a>

                                                            </td>

                                                        </tr>
                                                    {% endfor %}

                                                {% else %}
                                                    <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                                {% endif %}
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <!-- end of accordion -->

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

{% endblock javascripts %}
