{% extends "base/base_site.html" %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Project module</h3>
            </div>
            <div class="col-xs-12 form-group pull-left top_search">
                <div class="input-group">
                        <li class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i>
                            <a style="color: white !important;" href="{% url 'project:project_list' %}"> Go to Projects List</a>
                        </li>

                </div>
            </div>

            <!--<div class="title_right">-->

            <!--</div>-->
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Project Name: <strong>{{ project }}.</strong> </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link" href=""><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2><i class="fa fa-bars"></i> Contractors to Assign.<small>(Disponibles para Asignar)</small></h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">


                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Available Contractos </a>
                                            </li>
                                            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Assigned Contractors</a>
                                            </li>

                                        </ul>

                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                                <div class="x_content">
                                                    <br />
                                                        <table id="datatable-buttons" class="table table-striped table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>

                                                            <th>Name</th>
                                                            <th>Project Name</th>
                                                            <th>Phone Number</th>
                                                            <th>Email</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% if projectContractorEmployeeList %}
                                                        {% for project_contractor_employee in projectContractorEmployeeList %}

                                                        <tr>
                                                            <th scope="row">{{ project_contractor_employee.pk }}</th>

                                                            <th scope="row">{{ project_contractor_employee.contractors.name }}</th>
                                                            <td>{{ project_contractor_employee.projects.name }}</td>
                                                            <td>{{ project_contractor_employee.phone_number }}</td>
                                                            <td>{{ project_contractor_employee.email }}</td>
                                                            <td>
                                                                <a href="#" class="btn btn-info btn-sm">
                                                                    <i class="fa fa-pencil"></i> Assign to Project</a>
                                                            </td>
                                                        </tr>

                                                        {% endfor %}

                                                        {% else %}
                                                                <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>


                                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                                <div class="x_content">
                                                    <br />
                                                    <table id="datatable-buttons" class="table table-striped table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>

                                                            <th>First Name</th>
                                                            <th>Last Name</th>
                                                            <th>Phone Number</th>
                                                            <th>Email</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>
                                                        {{ ContractorAssigned }}
                                                        {% if ContractorAssigned %}
                                                        {% for contractor in ContractorAssigned %}
                                                        <tr>
                                                            <th scope="row">{{ contractor.pk }}</th>

                                                            <th scope="row">{{ contractor.name }}</th>
                                                            <td>{{ contractor.ceo }}</td>
                                                            <td>{{ contractor.phone_number }}</td>
                                                            <td>{{ contractor.email }}</td>
                                                            <td>
                                                                <a href="{% url 'project:project_contractor_update' project.id contractor.projectcontractor %}" class="btn btn-info btn-sm">
                                                                    <i class="fa fa-pencil">
                                                                    </i> </a>


                                                                <a href="{% url 'project:project_contractor_delete' project.id contractor.projectcontractor %}" class="btn btn-danger btn-sm">
                                                                    <i class="fa fa-trash">
                                                                    </i></a>
                                                            </td>
                                                        </tr>

                                                        {% endfor %}

                                                        {% else %}
                                                                <h4 class="red">We have not yet found information in our database of the selected option.</h4>
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

        {% endblock content %}

        {% block javascripts %}
        {{ block.super}}
        <!-- Ion.RangeSlider -->
        <script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

        <!-- Bootstrap Colorpicker -->
        <script src="/static/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

        <!-- jquery.inputmask -->
        <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

        <!-- jQuery Knob -->
        <script src="/static/vendors/jquery-knob/dist/jquery.knob.min.js"></script>

        <!-- Cropper -->
        <script src="/static/vendors/cropper/dist/cropper.min.js"></script>

        <!-- validator -->
        <script src="/static/vendors/validator/validator.js"></script>
        {% endblock javascripts %}



